/*
    ------------------------------------------
    # Structural Elements                    #
    ------------------------------------------
*/

/*
    Settings page elements
*/

// Sanctity Input Group, for embedded button display in the settings panel
.sanctity-input-button-combo-group {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    transition: 50ms border-color ease-in-out;
}

.sanctity-input-button-combo-group:focus
{
    background-color: rgb(247, 247, 249);
    border-color: rgb(91, 157, 217);
    box-shadow: rgba(30,140,190,.8);

}

.sanctity-input-button-combo-group input,
.sanctity-input-button-combo-group button,
.sanctity-input-button-combo-group .btn,
.sanctity-input-button-combo-group .sanctity-inline-append,
.sanctity-input-button-combo-group .sanctity-inline-append button,
.sanctity-input-button-combo-group .sanctity-inline-append .btn,
.sanctity-input-button-combo-group .sanctity-inline-prepend,
.sanctity-input-button-combo-group .sanctity-inline-prepend button,
.sanctity-input-button-combo-group .sanctity-inline-prepend .btn
{
    box-shadow: none;
    border: none;
    background: none;
}

.sanctity-input-button-combo-group button:hover,
.sanctity-input-button-combo-group .btn:hover,
.sanctity-input-button-combo-group .sanctity-inline-append button:hover,
.sanctity-input-button-combo-group .sanctity-inline-append .btn:hover,
.sanctity-input-button-combo-group .sanctity-inline-prepend button:hover,
.sanctity-input-button-combo-group .sanctity-inline-prepend .btn:hover
{
    background-color: rgb(247, 247, 249);
}


// Formats the color input value to fit nicely inside a bootstrap button element
.sanctity-color-picker-preview
{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    border: 0 !important;
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
}

.colorpicker-swatch > .sanctity-color-picker-preview
{
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

// Formats the Spectrum color box to keep an identical display to the rest of the ui.
.sanctity-spectrum-toggle
{
    border: none !important;
    background: none !important;
}

.sanctity-spectrum-toggle > .sp-preview
{
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}

.sanctity-spectrum-toggle > .sp-dd
{
    display: none;
    visibility: hidden;
}

// Formats the Spectrum display panel to appear consistent with the rest of the ui.
.sanctity-spectrum-panel
{

}

// Fixes Bootstrap-Toggle for Bootstrap 4
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

/*
    Sanctity Code Editor
    
    Due to the nature of the code editor functionality,
    making it fully responsive is extremely difficult,
    if not impossible. This is a caveat of the underlying
    library driving the functionality, Ace.
    Ace is too good at what it does though to justify using
    a less feature rich code editor just to make it prettier.
    
    A best effort will be made to make it mobile friendly though.
*/

.sanctity-editor-form-control
{
    
}

.sanctity-editor-menu
{
    
}

.sancitity-editor-viewport-wrapper
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 500px;
}

.sanctity-editor-viewport
{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}