{# Blogroll Provider Template

#}
{% block content_primary %}
    {% embed layout.templates.blog %}
        {% block body_banner %}{% if branding.enable_banner %}{% include "components/banner.twig" with { "type": page.type, "image": branding.banner } %}{% endif %}{% endblock %}
        {% block body_featured %}{{ page.featured }}{% endblock %}
        {% block body_title %}{{ page.title }}{% endblock %}
        {% block body_subtitle %}{{ page.subtitle }}{% endblock %}
        {% block body_content %}
            {% for post in posts %}
                {% include ['posts/preview-'~post.post_type~'.twig', 'posts/preview.twig'] %}
            {% endfor %}

            {% include 'components/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        {% endblock %}
    {% block left_sidebar %}{% include "sidebars/left.twig" %}{% endblock %}
{% block right_sidebar %}{% include "sidebars/right.twig" %}{% endblock %}
{% block footer %}{% include "footers/layout.twig" %}{% endblock %}
{% endembed %}
{% endblock %}
