{# Homepage Provider Template
    
    This template aggregates content for the home page to your layout.
    
#}{% block content_primary %}
    {% embed layout.templates.page %}
        {% block body_banner %}{% if branding.enable_banner %}{% include "components/banner.twig" with { "type": page.type, "image": branding.banner } %}{% endif %}{% endblock %}
        {% block body_featured %}{{ page.featured }}{% endblock %}
        {% block body_title %}{{ page.title }}{% endblock %}
        {% if page.subtitle %}
            {% block body_subtitle %}{{ page.subtitle }}{% endblock %}
        {% endif %}
        {% block body_content %}{{ page.content }}{% endblock %}
        {% block body_comments %}{{ page.comments }}{% endblock %}
        {% block left_sidebar %}{% include "sidebars/left.twig" %}{% endblock %}
        {% block right_sidebar %}{% include "sidebars/right.twig" %}{% endblock %}
        {% block footer %}{% include "footers/layout.twig" %}{% endblock %}
    {% endembed %}
{% endblock %}
