<div id="header-search-field-wrapper" class="nav-link p-0">
    <div class="container-fluid p-0 m-0">
        <div class="p-0 m-0 d-inline-block">
            <button class="navbar-toggler d-inline" type="button" data-toggle="collapse" data-target="#header-primary-search"><i class="fas fa-search"></i></button>
        </div>
        <div class="p-0 m-0 d-inline-block">
            <div class="collapse p-0 m-0" id="header-primary-search" data-context="primary-search">
                <fieldset class="form-inline button-group nav-link p-0 m-0 d-inline">
                    <form id="header-inline-search-form" name="header-inline-search-form" accept-charset="UTF-8" action="#">
                        <label class="sr-only" for="header-search-field">Search</label>
                        <div class="m-0 p-0">
                            <input type="text" class="form-control p-1 m-0" id="header-search-field" placeholder="Search">
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>