/* 
    Created on : Mar 15, 2018, 5:17:37 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
*/

/*
    This file contains styles required to make the Wordpress frontend
    generally compatible with Bootstrap.
    
    The frontend layout is pretty straightforward and flexible already,
    so very little opinion is needed. The following opinionated
    considerations have been applied for the sake of congruency:
    
    * The header and footer are sticky by default. This is to allow the most
      streamlined presence on mobile devices.
    
    * There is a fixed, full-width container designated to the background.
      This is for displaying full-page background images and parallax content
      easily without disrupting the primary content. Styles have been put in
      place to insure that elements within this container do not disrupt page content.
    
    * The light theme is applied by default to the page, though this should be
      configurable through the backend by official release of this package.
    
    * The navbar branding in the primary header is configured to allow a
      responsive dropdown menu, a ui-icon area for button icons that bind
      to page functionality, and a branding area that seamlessly supports
      a custom logo, site title, site tagline, and remains responsive if
      one or more of these elements is absent. An excessively long tagline
      may cause undesirable consequences in this layout, so site operators
      are advised to take this into consideration when branding their site.
    
    Most functionality is laid out to use the default Bootstrap styling without
    any opinion aside from what is required to make it cooperate with Wordpress.
    Bootstrap's predefined style classes are used in as many cases as is
    realistically feasible to prevent the need to write a ton of custom CSS
    for this theme.'
*/

/*
    ---------------------------------------
    # Frontend Styles #
    ---------------------------------------
*/

@import 'modules/var';
@import 'modules/base';
@import 'frontend/base';
@import 'global/struct';
@import 'frontend/struct';
@import 'global/layout';
@import 'frontend/layout';
@import 'frontend/header';
@import 'frontend/content';
@import 'frontend/footer';
@import 'frontend/form';
@import 'frontend/sidebar';
@import 'global/typography';
@import 'frontend/typography';
@import 'frontend/widget';
@import 'frontend/ui';
@import 'global/vfx';
@import 'frontend/vfx';
@import 'global/wptweak';
@import 'frontend/wptweak';
@import 'frontend/error';
@import 'global/brand';
@import 'frontend/brand';

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    @import 'frontend/sm/layout';
    @import 'frontend/sm/header';
    @import 'frontend/sm/content';
    @import 'frontend/sm/footer';
    @import 'frontend/sm/form';
    @import 'frontend/sm/sidebar';
    @import 'frontend/sm/typography';
    @import 'frontend/sm/widget';
    @import 'frontend/sm/ui';
    @import 'frontend/sm/wptweak';
    @import 'frontend/sm/error';
    @import 'frontend/sm/brand';
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    @import 'frontend/md/layout';
    @import 'frontend/md/header';
    @import 'frontend/md/content';
    @import 'frontend/md/footer';
    @import 'frontend/md/form';
    @import 'frontend/md/sidebar';
    @import 'frontend/md/typography';
    @import 'frontend/md/widget';
    @import 'frontend/md/ui';
    @import 'frontend/md/wptweak';
    @import 'frontend/md/error';
    @import 'frontend/md/brand';
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    @import 'frontend/lg/layout';
    @import 'frontend/lg/header';
    @import 'frontend/lg/content';
    @import 'frontend/lg/footer';
    @import 'frontend/lg/form';
    @import 'frontend/lg/sidebar';
    @import 'frontend/lg/typography';
    @import 'frontend/lg/widget';
    @import 'frontend/lg/ui';
    @import 'frontend/lg/wptweak';
    @import 'frontend/lg/error';
    @import 'frontend/lg/brand';
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    @import 'frontend/xl/layout';
    @import 'frontend/xl/header';
    @import 'frontend/xl/content';
    @import 'frontend/xl/footer';
    @import 'frontend/xl/form';
    @import 'frontend/xl/sidebar';
    @import 'frontend/xl/typography';
    @import 'frontend/xl/widget';
    @import 'frontend/xl/ui';
    @import 'frontend/xl/wptweak';
    @import 'frontend/xl/error';
    @import 'frontend/xl/brand';
}
