{# SASS Editor
    
    This template provides the structure for rendering the SASS editor.
    
#}
{% block editor %}
<div class="container" data-component="sass-editor" data-component-type="editor">
    <div class="row">
        <div class="col-12 mx-0 px-0 sanctity-editor-form-control" data-context="sanctity-sass-editor-form-control">
        </div>
        <div class="col-12 m-0 p-0 sanctity-editor-menu" data-context="sanctity-sass-editor-menu">
        </div>
        <div class="col-12 m-0 p-0 sancitity-editor-viewport-wrapper" data-context="sanctity-sass-editor-viewport-wrapper">
            <pre id="sanctity-sass-editor" class="h-100 w-100 m-0 p-0 sancity-editor-viewport" data-context="sanctity-sass-editor-viewport"></pre>
        </div>
    </div>
</div>
{% endblock %}