{# Debugger Controls
    
    Provides the control block for viewing debug modules.
    
#}
{% block debugger_controls %}
    <div id="debug-controls" class="btn-group btn-group-sm nav-link align-content-center">
        {% for module in modules %}
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#debug-{{ module }}-vars" aria-expanded="false" aria-controls="debug-{{ module }}-vars">
                {{ module|capitalize }}
            </button>
        {% endfor %}
    </div>
{% endblock %}
