{# Development Debugger for Sanctity
    
    This is a development debugging tool for viewing
    the backend data transmitted to the template.
    
    This will not be included in the release package.
    
#}{%
    set modules = [
        "theme",
        "page",
        "user",
        "settings",
        "layout",
        "branding",
        "style",
        "integration"
    ]
%}
{% if (debug) %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 nav d-flex flex-row align-content-center card p-0">
                <div class="nav-link align-content-center">
                    <h4 class="font-weight-bold text-capitalize text-warning"><span class="badge badge-pill badge-warning text-white p-2"><i class="fa fa-bug"></i></span> Sanctity Page Debugger</h4>
                    {% if origin %}
                    <super class="text-info">Debugger included from template: <br><strong class="font-weight-bold">{{ origin }}</strong></super>
                    {% endif %}
                </div>
                {% include "components/debugger/controls.twig" %}
            </nav>
            {% include "components/debugger/modules.twig" %}
        </div>
    </div>
{% endif %}