{# Debugger Module Controller
    
    Renders the debugger modules.
    
#}
{% block debugger_modules %}
    <div class="col-12">
        {% block debug_info_container %}
            <div class="container-fluid p-0 m-0">
                {% for module in modules %}
                    {% include "components/debugger/modules/" ~ module ~ ".twig" with { "module": module } %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
