{# DNS Preload Template #}
{% if page.head.preload %}
    {% for domain in page.head.preload %}
        <link rel="preload" href="{{ domain.href }}" as="{{ domain.type }}"{% if domain.mime %} type="{{ domain.mime }}"{% endif %}{% if domain.media %} media="{{ domain.media }}"{% endif %}{% if domain.crossorigin %} crossorigin="{{ domain.crossorigin }}"{% endif %}>
    {% endfor %}
{% endif %}
