{% if menu %}
    <ul class="nav navbar-nav pull-lg-right style-color color-nav-main color-nav-main-hover" data-component="primary-navbar" data-component-type="menu">
        {% for item in menu.items %}
            {% if item.visible %}
            <li class="mr-md-2 nav-item{% if item.children %} dropdown{% endif %} {{ item.classes | join(' ') }} {% if page.uri == item.uri %} link-current{% endif %}">
                {% if item.children %}
                    <div class="btn-group">
                    <a class="nav-link" {% if item.target %}target="{{ item.target }}" {% endif %}href="{{ item.uri }}">{{ item.title|translate }}{% if page.uri == item.uri %}<span class="sr-only">(current)</span>{% endif %}</a>
                    <button id="toggle-switch-{{ item.id }}" type="button" class="btn dropdown-toggle dropdown-toggle-split pl-0 pb-md-1 pt-md-1 border-0" data-target="#toggle-element-{{ item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none; box-shadow: none;">
                            <span class="sr-only">{{ "Toggle Dropdown for "~item.title|translate }}</span>
                        </button>
                    </div>
                    {% include "menus/primary-submenu.twig" with {'menu': item.children, 'toggle': 'toggle-element-' ~ item.id, "toggle_parent": 'toggle-switch-' ~ item.id } %}
                {% else %}
                    <a class="nav-link" {% if item.target %}target="{{ item.target }}" {% endif %}href="{{ item.uri }}">{{ item.title|translate }}{% if page.uri == item.uri %}<span class="sr-only">(current)</span>{% endif %}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
