<div id="{{ toggle }}" class="dropdown-menu p-0" aria-labelledby="{{ toggle_parent }}" data-component="submenu-{{ toggle }}" data-component-type="submenu">
    <div class="card border-0 mt-0 mb-0">
        <ul class="list-group list-group-flush style-color color-nav-main-sublink color-nav-main-sublink-hover">
            {% for item in menu %}
                <li class="p-md-2 nav-item list-group-item {% if item.children %}btn-group dropdown-submenu {% endif %}mr-0 {{ item.classes | join(' ') }}" >
                    <a {% if item.target %}target="{{ item.target }}" {% endif %}href="{{ item.uri }}" class="{% if item.children %}d-inline-block {% endif %}card-link nav-link p-md-0">
                        {{ item.title|translate }}{% if page.uri == item.uri %}<span class="sr-only">(current)</span>{% endif %}</a>
                    {% if item.children %}
                        <button id="toggle-switch-{{ item.id }}" type="button" class="btn dropdown-toggle dropdown-toggle-split pl-0 pb-md-1 pt-md-1" data-target="#toggle-element-{{ item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">{{ "Toggle Dropdown for "~item.title|translate }}</span>
                        </button>
                        {% include "menus/primary-submenu.twig" with { 'menu': item.children, 'toggle': 'toggle-element-' ~ item.id, "toggle_parent": 'toggle-switch-' ~ item.id } %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>