<head>
    <meta charset="{{ site.charset }}" />
    {% block site_head_title %}
        {% include "head/title.twig" %}   
    {% endblock %}
    {% block site_head_meta %}
        {% include "head/metadata.twig" %}   
    {% endblock %}
    {% block site_head_links %}
        {% include "head/links.twig" %}   
    {% endblock %}
    {% block site_head_favicon %}
        {% include "head/favicon.twig" %}   
    {% endblock %}
    {% block site_head_styles %}
        {% include "head/styles.twig" %}   
    {% endblock %}
    {% block site_head_scripts %}
        {% include "head/scripts.twig" %}   
    {% endblock %}
    {% block site_head_wphead %}
        {% include "head/wp-head.twig" %}   
    {% endblock %}
</head>
