.cover {
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
}

/*
    Fixes derpy ios momentum scrolling that uses non-standard selectors.
    Only applies to ios touch devices. All non-webkit mobile devices should't
    be affected due to the webkit touch check, which isn't relevant anywhere else.
*/
@supports ( (perspective: 1px) and (-webkit-overflow-scrolling: touch) )
{
    /*
        Only applies to iPads, iPhones, and other iOS devices.
        We don't want to lock users into scroll if this doesn't
        apply to them.
    */
    @media (min-width: 768px)
        {
        .momentum-ios {
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch;
        }
    }
}