/*
    ------------------------------------------
    # Structural Utilities                   #
    # The following provide utilities for    #
    # defining flexible absolute width       #
    # and height. For elements that need     #
    # to be aligned along absolute terms,    #
    # but still retain responsive            #
    # flexibility, these are useful          #
    # utilities.                             #
    ------------------------------------------
*/

/*
    .struct is the anchor class for these attributes.
    None of them have any effect if the element does not
    also have the .struct class, in order to prevent
    collisions with other libraries.
    
    .struct by itself does nothing except enable the
    functionality of other structural attribute classes
    on the element.
*/
.struct
{
    @for $i from 1 through 10
    {
        &.z-down-#{$i}
        {
            z-index: -#{$i}00 !important;
        }

        &.z-up-#{$i}
        {
            z-index: #{$i}00 !important;
        }
    }

    &.z-down-neutral
    {
        z-index: 0 !important;
    }

    &.z-initial
    {
        z-index: initial !important;
    }

    &.z-inherit
    {
        z-index: inherit !important;
    }

    @for $i from 1 through 10
    {
        &.width-#{$i}
        {
            width: #{$i}rem !important;
        } 

        &.width-min-#{$i}
        {
            min-width: #{$i}rem !important;
        }

        &.width-max-#{$i}
        {
            max-width: #{$i}rem !important;
        }

        &.height-#{$i}
        {
            height: #{$i}rem !important;
        }

        &.height-min-#{$i}
        {
            min-height: #{$i}rem !important;
        }

        &.height-max-#{$i}
        {
            max-height: #{$i}rem !important;
        }

        &.height-p-#{$i}
        {
            height: #{$i}% !important;
        }

        &.height-min-p-#{$i}
        {
            min-height: #{$i}0% !important;
        }

        &.height-max-p-#{$i}
        {
            max-height: #{$i}0% !important;
        }

        &.width-p-#{$i}
        {
            width: #{$i}0% !important;
        }

        &.width-min-p-#{$i}
        {
            min-width: #{$i}0% !important;
        }

        &.width-max-p-#{$i}
        {
            max-width: #{$i}0% !important;
        }
    }


    &.height-p-0
    {
        height: 0% !important;
    }

    &.height-one-quarter
    {
        height: 25% !important;
    }

    &.height-three-quarter
    {
        height: 75% !important;
    }

    &.height-two-third
    {
        height: 66.66% !important;
    }

    &.height-min-p-0
    {
        min-height: 0% !important;
    }

    &.height-min-one-quarter
    {
        min-height: 25% !important;
    }

    &.height-min-three-quarter
    {
        min-height: 75% !important;
    }

    &.height-min-two-third
    {
        min-height: 66.66% !important;
    }

    &.height-max-p-0
    {
        max-height: 0% !important;
    }

    &.height-max-one-half
    {
        max-height: 50% !important;
    }

    &.height-max-one-quarter
    {
        max-height: 25% !important;
    }

    &.height-max-three-quarter
    {
        max-height: 75% !important;
    }

    &.height-max-two-third
    {
        max-height: 66.66% !important;
    }

    &.width-p-0
    {
        width: 0% !important;
    }

    &.width-one-quarter
    {
        width: 25% !important;
    }

    &.width-three-quarter
    {
        width: 75% !important;
    }

    &.width-two-third
    {
        width: 66.66% !important;
    }

    &.width-full
    {
        width: 100% !important;
    }

    &.width-min-p-0
    {
        min-width: 0% !important;
    }

    &.width-min-one-quarter
    {
        min-width: 25% !important;
    }

    &.width-min-three-quarter
    {
        min-width: 75% !important;
    }

    &.width-min-two-third
    {
        min-width: 66.66% !important;
    }

    &.width-min-full
    {
        min-width: 100% !important;
    }

    &.width-max-p-0
    {
        max-width: 0% !important;
    }

    &.width-max-one-half
    {
        max-width: 50% !important;
    }

    &.width-max-one-quarter
    {
        max-width: 25% !important;
    }

    &.width-max-three-quarter
    {
        max-width: 75% !important;
    }

    &.width-max-two-third
    {
        max-width: 66.66% !important;
    }

    &.width-max-full
    {
        max-width: 100% !important;
    }

    /*
        Display attributes affect how an element is displayed.
        These classes force an element to be displayed in the
        expected terms, without regard to height, width, margin,
        padding, etc. As these elements only affect the structural
        declaration of the element, some other classes may be needed
        to affect other attributes that affect other aspects
        of the render.
    */
    &.display-block
    {
        display: block !important;
        visibility: visible !important;
    }

    &.display-inline-block
    {
        display: inline-block !important;
        visibility: visible !important;
    }

    &.display-inline
    {
        display: inline !important;
        visibility: visible !important;
    }

    &.display-flex
    {
        display: flex !important;
        visibility: visible !important;
    }

    &.display-none
    {
        display: none !important;
        visibility: hidden !important;
    }

    &.display-initial
    {
        display: initial !important;
        visibility: initial !important;
    }

    &.display-inherit
    {
        display: inherit !important;
        visibility: inherit !important;
    }

    /*
        .frame-element is for creating invisible elements
        that force alignment of other content. These elements
        do not display, but do still resolve structurally
        against other elements. This can be used in conjunction
        with sizing attributes to create alignment blocks that
        force other content to align as expected.
    */
    &.frame-element
    {
        visibility: hidden !important;

        &.display-block
        {
            display: block !important;
        }

        &.display-inline-block
        {
            display: inline-block !important;
        }

        &.display-inline
        {
            display: inline !important;
        }

        &.display-flex
        {
            display: flex !important;
        }

        &.display-none
        {
            display: none !important;
        }

        &.display-initial
        {
            display: initial !important;
        }

        &.display-inherit
        {
            display: inherit !important;
        }
    }

    &.border-box
    {
        box-sizing: border-box !important;
    }

    &.content-box
    {
        box-sizing: content-box !important;
    }

    &.padding-box
    {
        box-sizing: padding-box !important;
    }

    &.clear-box
    {
        box-sizing: initial !important;
    }

    &.inherit-box
    {
        box-sizing: inherit !important;
    }
}

