/*
    ------------------------------------------
    # Visual Effect Elements                 #
    ------------------------------------------
*/

/*
    Parallax Elements
    Sanctity features a dynamic parallax generation schema.
    These classes provide the baseline behavior for parallax elements,
    However additional functionality can be generated on the fly using
    the settings panel in the backend.
    
    These effects will only activate on tablet-size devices and larger,
    to prevent screen clutter on devices with small viewports.
*/
@media (min-width: 768px)
{
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch)))
    {
        $parallax-perspective: 300;
        $perspective-origin-x: 100%;
        $perspective-origin-y: 100%;
        $parallax-increment: 400;
        $rotate-increment: 13;
        $x-increment: 800;
        $y-increment: 0;
        $z-increment: 800;
        $transition-increment: 0.5;
        $scale-increment: 0.01;

        body.parallax-shim
        {
            transform: translateZ(0);
        }

        .sanctity-parallax
        {
            height: 500px; /* old browser support */
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-perspective: #{$parallax-perspective}px;
            perspective: #{$parallax-perspective}px;
            perspective-origin-x: #{$perspective-origin-x};

            &.perspective-top-left
            {
                perspective-origin: top left;
            }

            &.perspective-top-center
            {
                perspective-origin: top center;
            }

            &.perspective-top-right
            {
                perspective-origin: top right;
            }

            &.perspective-center-left
            {
                perspective-origin: center left;
            }

            &.perspective-center
            {
                perspective-origin: center center;
            }

            &.perspective-center-right
            {
                perspective-origin: center right;
            }

            &.perspective-bottom-left
            {
                perspective-origin: bottom left;
            }

            &.perspective-bottom-center
            {
                perspective-origin: bottom center;
            }

            &.perspective-bottom-right
            {
                perspective-origin: bottom right;
            }

            &.horizontal
            {
                overflow-x: hidden;
                overflow-y: auto;
                white-space: nowrap;

                .parallax-group
                {
                    display: inline-block;
                    white-space: normal;
                }
            }

            &.scroll-snap
            {
                scroll-snap-destination: 0% 0%;
                scroll-snap-type: mandatory;

                .parallax-group
                {
                    scroll-snap-coordinate: 0% 0%;
                }
            }

            .parallax-group
            {
                position: relative;
                height: 500px; /* fallback for older browsers */
                height: 100vh;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                transform-origin-x: 100%;

                &.clearpointer
                {
                    pointer-events: none;
                }

                .parallax-layer
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    &.clearpointer
                    {
                        pointer-events: none;
                    }

                    @for $i from 1 through 10
                    {
                        &.parallax-depth-#{$i}
                        {
                            -webkit-transform: translateZ(-#{$i * $parallax-increment}px) scale(#{( 1 - ( ( $i * 2 ) * $scale-increment ) )});
                            transform: translateZ(-#{$i * $parallax-increment}px) scale(#{( 1 + ( ( $i * 2 ) * $scale-increment ) )});
                            z-index: #{10 - $i};
                        }
                    }

                    &.parallax-front
                    {
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                        z-index: 10;
                    }
                }

                &.rotate
                {
                    -webkit-transition: -webkit-transform #{$transition-increment}s;
                    transition: transform #{$transition-increment}s;

                    @for $i from 1 through 20
                    {
                        &.x-rotate-left-#{$i}
                        {
                            -webkit-transform: translate3d(#{$x-increment}px, 0, 0) rotateY(#{$rotate-increment * $i}deg);
                            transform: translate3d(#{$x-increment}px, 0, 0) rotateY(#{$rotate-increment * $i}deg);
                        }

                        &.x-rotate-right-#{$i}
                        {
                            -webkit-transform: translate3d(#{$x-increment}px, 0, 0) rotateY(-#{$rotate-increment * $i}deg);
                            transform: translate3d(#{$x-increment}px, 0, 0) rotateY(-#{$rotate-increment * $i}deg);
                        }

                        &.y-rotate-up-#{$i}
                        {
                            -webkit-transform: translate3d(#{$x-increment}px, 0, 0) rotateX(#{$rotate-increment * $i}deg);
                            transform: translate3d(#{$x-increment}px, 0, 0) rotateX(#{$rotate-increment * $i}deg);
                        }

                        &.y-rotate-down-#{$i}
                        {
                            -webkit-transform: translate3d(#{$x-increment}px, 0, 0) rotateX(-#{$rotate-increment * $i}deg);
                            transform: translate3d(#{$x-increment}px, 0, 0) rotateX(-#{$rotate-increment * $i}deg);
                        }
                        
                        &.preserve-depth
                        {
                            &.x-rotate-left-#{$i}
                            {
                                -webkit-transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(#{$rotate-increment * $i}deg);
                                transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(#{$rotate-increment * $i}deg);
                            }

                            &.x-rotate-right-#{$i}
                            {
                                -webkit-transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(-#{$rotate-increment * $i}deg);
                                transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(-#{$rotate-increment * $i}deg);
                            }

                            &.y-rotate-up-#{$i}
                            {
                                -webkit-transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateX(#{$rotate-increment * $i}deg);
                                transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateX(#{$rotate-increment * $i}deg);
                            }

                            &.y-rotate-down-#{$i}
                            {
                                -webkit-transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateX(-#{$rotate-increment * $i}deg);
                                transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateX(-#{$rotate-increment * $i}deg);
                            }
                        }
                    }
                }
            }
        }

        /*
            Parallax Debugging
        */
        .parallax-debug-enabled
        {
            .parallax-group
            {
                -webkit-transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(#{$rotate-increment}deg);
                transform: translate3d(#{$x-increment}px, 0, -#{$z-increment}px) rotateY(#{$rotate-increment}deg);
            }
            .parallax-layer
            {
                box-shadow: 0 0 0 2px #000;
                opacity: 0.9;
            }

            .parallax-group
            {
                -webkit-transition: -webkit-transform #{$transition-increment}s;
                transition: transform #{$transition-increment}s;
            }
        }
    }
}