{# Post Heading with Thumbnail #}
<div class="col-12 d-flex">
    <div class="w-25 pr-3" data-context="post-thumbnail">
        <img class="img-thumbnail" src="{{ post.image.medium.src }}"/>
    </div>
    <div data-context="post-title">
        <h2 class="h2 style-color color-title"><a href="{{post.uri}}">{{post.title}}</a></h2>
        {% include "components/heading/meta.twig" with { "categories": post.categories, "tags": post.tags, "id": post.id } %}
{#        <pre>{{ dump(post) }}</pre>#}
    </div>
</div>