{# This is the default blog page layout
    
    The files contained in this default layout are the default provided layout
    for a clean install, and also act as the fallback files if you forget to
    provide one in your template. It is suggested to only override what is needed
    in order to complete your layout, and not try to reinvent the wheel.

    The backend is configured to prioritize the primary layout first,
    then fall back to this one if it cannot find a file. All of the template
    files within the layout are called from the root folder using Twig's "embed" method,
    so content will be automatically injected into your layout, and you do not need
    to override the root blocks. You will note that there are a number of blocks within
    the layout that seemingly contain nothing. If you are unfamiliar with the embed protocol,
    this may seem strange. These are placeholders for lower level data that has already been
    handled to be inserted. The purpose of the layout is to just wrap this content and style
    it nicely, not to modify it. As long as you are using the standard mobile-first Bootstrap
    approach to things, you will find it works quite seamlessly. If you have really buggy CSS,
    it will probably not look right. In that case, you are much better off refactoring your
    stylesheet than trying to hack things further.
    
    Some links to save you some time on Google:
    -Twig Embed: https://twig.symfony.com/doc/2.x/tags/embed.html
    -Bootstrap 4 Templating the right way: hackerthemes.com/bootstrap-cheatsheet
    -Sass Style guide: http://sass-lang.com/documentation/file.SASS_REFERENCE.html
    
#}{% block content %}
    <div class="container-fluid">
        {% if branding.enable_banner %}
            <div class="row p-0">
                <div class="col-12 p-0">
                    {% block body_banner %}{% endblock %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div id="blog-body" class="col-12 style-color color-content-background p-0" data-context="blog-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-12 col-lg-6 order-1 order-lg-2 pt-5 pb-5 style-color color-page-body-background">
                            <main id="blog-content" class="container" data-context="blog-content" data-component="{{ page.type }}-body" data-component-type="body">
                                <div class="row">
                                    {% include "header/page-body-header.twig" %}
                                    <div class="col-12 pb-4" data-context="blog-posts">
                                    {% block body_content %}{% endblock %}
                                </div>
                            </div>
                        </main>
                    </div>
                {% if layout.sidebars["left-sidebar"] %}
                    {% block left_sidebar %}{% endblock %}
                {% endif %}
                {% if layout.sidebars["right-sidebar"] %}
                    {% block right_sidebar %}{% endblock %}
                {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}