{# Right Page Footer Menu #}
{% block footer_column_right %}
    {% if layout.sidebars["footer-right"] %}
        <div class="col-12"  data-context="footer-column-right">
            {% embed "footer/footer-menu-right.twig" %}
                {% block sidebar_column_right %}
                    {{ layout.sidebars["footer-right"] }}
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}