{# Center Page Footer Menu #}
{% block footer_column_center %}
    {% if layout.sidebars["footer-center"] %}
        <div class="col-12" data-context="footer-column-center">
            {% embed "footer/footer-menu-center.twig" %}
                {% block sidebar_column_center %}
                    {{ layout.sidebars["footer-center"] }}
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}