{# Left Page Footer Menu #}
{% block footer_column_left %}
    {% if layout.sidebars["footer-left"] %}
        <div class="col-12" data-context="footer-column-left">
            {% embed "footer/footer-menu-left.twig" %}
                {% block sidebar_column_left %}
                    {{ layout.sidebars["footer-left"] }}
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endblock %}