{# Site Footer Attribution #}
<nav class="navbar {% if layout.options["sticky-site-footer"] and not layout.options["sticky-page-footer"] %}fixed-bottom {% endif %}border-0 p-0 m-0" data-context="site-footer">
    {% block footer_attribution %}
        <div class="col-12">
            <div class=" py-2 d-flex flex-row justify-content-center align-content-center">
                <p class="footer-block">Copyright {{"now"|date('Y')}} Brian Dayhoff.</p>
            </div>
        </div>
    {% endblock %}
</nav>