{# Page Footer Subtext #}
{% block footer_column_left %}
    <div class=" py-3 d-flex flex-row justify-content-center align-content-center">
        {% if branding.social %}
            <ul class="list-unstyled list-inline font-small">
                {% for key, link in branding.social %}
                    {% if link.enabled %}
                        <li class="list-inline-item pr-2"><a href="{{ link.endpoint }}" target="_blank" title="{{ link.handle }}"><span class="rounded-circle h5-responsive struct display-flex height-2 width-2 p-2 z-depth-1"><i class="{{ link.icon }}"></i></span></a></li>
                            {% endif %}
                        {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}