/*
The MIT License

Copyright 2018 Brian Dayhoff <mopsyd@me.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Apr 17, 2018, 2:03:51 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
    
    This file is a template for dynamic generation of style data.
    It is not a valid SASS stylesheet by itself. It is used as a template
    for generated SASS source, and will not resolve without being filtered
    through the internal content injector. The result is then passed through
    security filters at the SASS compiling phase, so any exploit patterns are
    checked for numerous times before any resulting output is generated.
    
    This file is only for internally programmatic content injection.
    Do not modify this file. Also do not attempt to parse this file without
    it running through its appropriate SASS generation protocol.
*/

