{# Default Footer Template #}
{% block page_footer %}
    {% if layout.options["enable-page-footer"] %}
        <footer id="layout-footer" class="container-fluid style-color color-page-footer" data-context="layout-footer">
            <nav class="navbar fixed-bottom border-0 p-0" data-context="sticky-footer">
                <div class="row">
                    <div class="col-12">
                        <p class="footer-block">This is the layout footer.</p>
                    </div>
                </div>
            </nav>
        </footer>
    {% endif %}
{% endblock %}