{# Default Post Title Element 

    This block provides a uniform consumer of post title elements.

#}{% block title_wrapper %}
    <div class="col-12" data-component="{{ page.type }}-title" data-component-type="title">
        <h1 id="{{ page.type }}-title" {% if layout.style.title %}class="{{ layout.style.title }} style-color color-title"  {% endif %}data-context="{{ page.type }}-title">{% block body_title %}{% endblock %}</h1>
        {% if options.layout.subtitle %}
            <h2 id="{{ page.type }}-subtitle" {% if layout.style.subtitle %}class="{{ layout.style.subtitle }} style-color color-title" {% endif %}data-context="{{ page.type }}-title">{% block body_subtitle %}{% endblock %}</h2>
        {% endif %}
    </div>
{% endblock %}
