{# Default Post Body Element 

    This block provides a uniform consumer of post body elements.

#}{% block body_wrapper %}
    <div class="col-12"  data-component="{{ page.type }}-content" data-component-type="content">
    {% block body_content %}{% endblock %}
</div>
{% endblock %}
