{# empty Twig template #}
<div class="card testimonial-card z-depth-2 rounded-bottom rounded-top">
    <div class="d-flex style-background background-primary rounded-top">
        <!-- Avatar -->
        <div class="avatar mx-auto py-3"><img src="{{ user.avatar }}" alt="{{ user.name }}" class="img-thumbnail rounded-circle z-depth-2">
        </div>
    </div>
    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title style-color color-title">{{ user.name }}</h4>
        <hr>
        <!-- Quotation -->
        <p><i class="fa fa-quote-left"></i> {{ user.bio }}</p>
    </div>
    <div class="rounded-bottom style-background background-primary text-center pt-3">
    {% if branding.social %}
        <ul class="list-unstyled list-inline font-small">
            {% for key, link in branding.social %}
                {% if link.enabled %}
            <li class="list-inline-item pr-2"><a href="{{ link.endpoint }}" target="_blank" title="{{ link.handle }}" class="white-text h4-responsive"><i class="{{ link.icon }}"></i></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {#    <pre>{{ dump(user) }}</pre>#}
</div>