{# Page Background Control Block #}
{% block static_viewport %}
<div id="static-viewport" class="background-viewport-wrapper" data-context="site-static-viewport">
{% block site_body_background %}
    {% include "components/background_image.twig" %}
{% endblock %}
{% block site_body_parallax %}
    {% include "components/parallax.twig" %}
{% endblock %}
</div>
{% endblock %}