{# Control Block for page type routing
    
    This template provides the render level routing for the primary page content,
    which is everything that exists between the primary header and footer.
    
    The purpose of this template is to aggregate body content to the correct section
    of your layout, and insure that the landing files presented for any given content
    section are called correctly, and that it falls back to the default template if
    you have not provided the correct section to handle a content block.
    
    Like most control blocks, this template should not be modified.
    It will route any given request correctly to your layout,
    which you have full control over.
    
#}{% if error and error.type == 401 or error.type == 403 or error.type == 404 or error.type == 500 %}
    {# Error Page Control Block
        
        Errors all get routed through this control block.
        The templating system provided with this theme is
        configured to route to the four most common HTTP error codes
        produced by a web page that are not automatically
        handled by the server. You may throw additional error codes,
        but one of these four templates should be used to route it,
        and then subroute within the according layout template if
        more granular status code rendering is required.
        
        All errors will arrive at your layouts error/error.twig template.
        
    #}<div id="error-{{ error.type }}" role="main" class="content-wrapper error-page struct height-full d-flex" data-context="{{ page.type }}-content-wrapper">
{#        <div id ="header-spacer-element"></div>#}
        {% block content_error %}
            {% include "errors/" ~ error.type ~".twig" %}
        {% endblock %}
    </div>
{% elseif debug.sandbox == page.uri %}
    {# Dev Sandbox Mode #}
    <div id="content-{{ page.slug }}" role="main" class="content-wrapper content-{{ page.post_type }}" data-context="{{ page.type }}-content-wrapper">
        {% block content_sandbox %}
            {% include "dev/sandbox.twig" %}
        {% endblock %}
    </div>
{% else %}
    {# Valid Pageview Control Block
    
        This control block routes all
        pageviews that are not errors.
    
    #}
<div id="content-{{ page.slug }}" role="main" class="content-wrapper content-{{ page.post_type }}" data-context="{{ page.type }}-content-wrapper">
        {% block content_page %}
            {% include [ "pages/" ~ page.type ~".twig", "posts/" ~ page.type ~".twig", "pages/custom.twig" ]  %}
        {% endblock %}
    </div>
{% endif %}