{# Dev Sandbox #}
<div id="dev-sandbox" style="width: 100%; height:100%; min-height: 700px; background-color: #f1f1f1; display: block; padding: 3em;">
    <h1>Dev Sandbox<br>
        <sub>Currently testing parallax functionality.</sub>
    </h1>
    <hr>
    <div id="dev-sandbox-content" style="width: inherit; height: inherit; min-height: inherit; border: 1px solid black; padding 1em;">
        {% include "components/vfx/parallax-test.twig" %}
    </div>
</div>
