{# Primary Settings Panel Container
    
    Renders the outer shell for settings panels,
    without much regard to their contents.
    
#}
<div class="container">
    <div id="settings-{{ page.slug }}-panel-heading-container" class="row">
        <div class="col-12">
            {% block panel_heading %}
                {% include "sanctity/settings/sections/settings-panel-section-header.twig" %}
            {% endblock %}
        </div>
    </div>
    <div id="settings-{{ page.slug }}-panel-body-container" class="row">
        <div class="col-12">
            {% block panel_body %}
                {% include "sanctity/settings/sections/settings-panel-section-body.twig" %}
            {% endblock %}
        </div>
    </div>
</div>
