{# Settings Panel Dashboard Base
    
    This template renders a dashboard overview section of the settings page.
    In contrast to the typical settings section, this is an informative-only
    section without much form interaction.
    
#}{% block sanctity_settings_pane_body %}
        <div class="container-fluid p-0">
            <div id="{{ page.slug }}-dashboard-wrapper" class="row pl-0 pr-0 mr-0 ml-0">
                <div class="col-12 p-0">
                {% include "sanctity/settings/settings-dashboard.twig" %}
                </div>
            </div>
        </div>
{% endblock %}


{#{% if (page.subsections) %}{% block sanctity_settings_pane_body %}
        {% for key, subsection in page.subsections %}
        {% if subsection.enabled == true %}
            <div class="container-fluid p-0">
                <div id="{{ page.slug }}-subsection-{{ key }}-wrapper" class="row pl-0 pr-0 mr-0 ml-0">
                    <div class="col-12 p-0">
                        {% include "sanctity/settings/settings-section.twig" with {"pane": "backend", "slug": key, "postback": uri, "section": subsection } %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    {% endblock %}
{% else %}
    <div class="container-fluid p-0">
        <div id="{{ page.slug }}-subsection-not-found-wrapper" class="row pl-0 pr-0 mr-0 ml-0">
            <div class="col-12 p-0">
                {% include "sanctity/settings/settings-empty.twig" with {"pane": "backend", "slug": key, "postback": uri, "section": subsection } %}
            </div>
        </div>
    </div>
{% endif %}#}

