{# Primary Settings Panel Section Body
    
    Renders the body of the currently selected settings pane.
    
#}
<div id="panel-{{ page.slug }}-body-content">
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-12">
                {% block panel_body_content %}
                    {% include page.template %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>