{# Primary Settings Panel Section Header
    
    Renders the subheading, corresponding to
    the specific settings section being visited.
    
#}
<div id="panel-{{ page.slug }}-heading">
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-12">
                {% block panel_body_title %}
                    <h2 class="lead">{% if (page.icon) %}<i class="{{ page.icon }}"></i> {% endif %}{{ page.section_title }}</h2>
                    <hr>
                {% endblock %}
            </div>
        </div>
        {% if (page.description) %}
            <div class="row">
                <div class="col-12">
                    {% block panel_body_description %}
                        <p>{{ page.description }}</p>
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
</div>