{# Primary Settings Panel Tabs
    
    Renders the tabset for the settings panel page
    
#}
<ul id="sanctity-settings-navigation" class="nav nav-tabs d-flex justify-md-content-between" role="tablist">
    {% for key, tpl in page.links %}
        <li class="nav-item m-0">
            {% if (tpl.icon) %}
                <a class="nav-link{% if (tpl.current) %} bg-primary text-secondary active{% endif %}" id="sanctity-settings-{{ key }}-tab" href="{% if (tpl.current) %}#{% else %}{{ tpl.link }}{% endif %}" role="tab" aria-controls="{{ key }}" aria-selected="{% if (tpl.current) %}true{% else %}false{% endif %}">{% if (tpl.icon) %}<span class="d-inline-block d-lg-none p-3 p-lg-0" data-toggle="tooltip" title="{{ tpl.title }}"><i class="{{ tpl.icon }}"></i></span><span class="d-none d-lg-inline-block"> {% endif %}{{ tpl.title }}</span></a>
            {% else %}
                <a class="nav-link{% if (tpl.current) %} bg-primary text-secondary active{% endif %}" id="sanctity-settings-{{ key }}-tab" href="{% if (tpl.current) %}#{% else %}{{ tpl.link }}{% endif %}" role="tab" aria-controls="{{ key }}" aria-selected="{% if (tpl.current) %}true{% else %}false{% endif %}">{% if (tpl.icon) %}<i class="{{ tpl.icon }}"></i> {% endif %}{{ tpl.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>