{# Settings Panel Base
    
    This template renders a settings section of the dashboard settings page.
    This is the standard functionality of settings panels, and acts as an aggeregator
    for form subsections fed into it.
    
#}{% set selected = 1 %}{% set selected_key = "" %}{% if (page.subsections) %}
    {% block sanctity_settings_pane_nav %}
        <ul class="nav nav-tabs">
            {% for key, subsection in page.subsections %}
                {% if subsection.enabled == true %}
                    {% if selected %}
                        {% set selected_key = key %}
                        {% set selected = 0 %}
                    {% endif %}
                    <li class="nav-item mr-0">
                        <a class="nav-link{% if key == selected_key %} active{% endif %}" data-toggle="tab" href="#{{ page.slug }}-subsection-{{ key }}-wrapper">
                            <span>
                                {% if subsection.icon %}<span class=""><i class="{{ subsection.icon }}"></i></span>{% endif %}
                                <span class="{% if subsection.icon %}{% else %}{% endif %}">{{ subsection.title|translate }}</span>
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endblock %}
    {% block sanctity_settings_pane_body %}{% set selected = 1 %}
        <div class="container-fluid p-0 pt-3">
            <div class="row pl-0 pr-0 mr-0 ml-0 tab-content">
                {% for key, subsection in page.subsections %}
                    {% if subsection.enabled == true %}
                        {% if selected %}
                        {% set selected_key = key %}
                        {% set selected = 0 %}
                    {% endif %}
                        <div id="{{ page.slug }}-subsection-{{ key }}-wrapper" class="tab-pane{% if key == selected_key %} active{% endif %}">
                            <div class="col-12 p-0">
                                {% include "sanctity/settings/settings-section.twig" with {"pane": "backend", "slug": key, "postback": uri, "section": subsection } %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% else %}
    <div class="container-fluid p-0">
        <div id="{{ page.slug }}-subsection-not-found-wrapper" class="row pl-0 pr-0 mr-0 ml-0">
            <div class="col-12 p-0">
                {% include "sanctity/settings/settings-empty.twig" with {"pane": "backend", "slug": key, "postback": uri, "section": subsection } %}
            </div>
        </div>
    </div>
{% endif %}
