{# Left sidebar content #}
<div class="col col-12 col-lg-3 order-2 order-lg-1 pt-5 pb-5 style-color color-sidebar-left-background" data-component="left-sidebar" data-component-type="sidebar">
{% if layout.sidebars["left-sidebar"] %}
    {% embed "sidebar/left-sidebar.twig" %}
        {% block sidebar_content %}
            {{ layout.sidebars["left-sidebar"] }}
        {% endblock %}
    {% endembed %}
{% endif %}
</div>