{# Right sidebar content #}
<div class="col col-12 col-lg-3 order-3 pt-5 pb-5 style-color color-sidebar-right-background" data-component="right-sidebar" data-component-type="sidebar">
{% if layout.sidebars["right-sidebar"] %}
    {% embed "sidebar/right-sidebar.twig" %}
        {% block sidebar_content %}
            {{ layout.sidebars["right-sidebar"] }}
        {% endblock %}
    {% endembed %}
{% endif %}
</div>
