{% set template_title = "" %}
{% set template_description = "" %}
<form id="{{ id }}" name="{{ id }}" action="{{ action }}" method="{{ method }}" data-component="{{ id }}-form" data-component-type="form">
    <div class="card mb-3 col-12 col-md-8 p-0">
        <div class="card-body p-0">
            <div id="form-group-template" class=" p-2 form-group card-header">
                <label for="sanctity-frontend-template">
                    <h3 class="card-title">Backend Theme Settings</h3>
                </label>
                <select id="sanctity-frontend-template" class="form-control" name="sanctity-frontend-template">
                    {% for key, value in fields.template.options %}
                        <option value="{{ key }}" {% if key == fields.template.default %}{% set template_title, template_description = key, value %}selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group mb-0">
            <div class="card-body p-2 border border-left-0 border-right-0">
                <h4 id="theme-title" class="card-subtitle mb-2">{{ template_description }}</h4>
                <img id="theme-thumbnail" class="img-fluid" src="" alt="Card image">
            </div>
            <div class="card-footer">
                <h5 id="theme-description" class="card-text d-flex justify-content-center"></h5>
                <div class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="theme-options">
                    <a id="theme-demo" class="btn btn-outline-info" href="#" target="_blank">Example</a>
                    <button id="theme-preview" type="button" class="btn btn-outline-info">Preview</button>
                    <button id="theme-apply" type="submit" action="{{ fields.template['form-action'] }}" class="btn btn-outline-info">Apply</button>
                </div>
            </div>
        </div>
    </div>
    {% include "components/forms/fields/nonce.twig" with { "nonce": form.nonce, "form": form } %}
</form>
<div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle" data-size="small">
    Option one is enabled
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input type="checkbox" disabled data-toggle="toggle" data-size="small">
    Option two is disabled
  </label>
</div>
<link href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>