{# Bootstrap Skin Form Field Component
    
    Renders the markup for the Bootstrap Skin Picker
    This settings component renders the panel in the style settings
    that allows the end user to determine their bootstrap skin.
    
#}{% set formgroup = form.fields["skin-template"] %}
{% block skin_picker_field %}
    <div class="col-12">
        <div class="container-fluid">
            <div class="row">
                <div class="card mb-3 col-12 col-md-8 p-0" data-component="bootstrap-skinpicker" data-component-type="skinpicker">
                    <div class="card-body p-0">
                        <div id="form-group-skinpicker-theme-skin" class=" p-2 form-group card-header">
                            <label for="{{ formgroup["field-id"] }}" data-context="skinpicker-label">
                                <h3 class="card-title">{{ formgroup.label }}</h3>
                            </label>
                            <select id="{{ formgroup["field-id"] }}" name="{{ formgroup["field-id"] }}" class="form-control" data-context="skinpicker-selector">
                                {% for key, value in formgroup.options %}
                                    <option value="{{ key }}" {% if key == formgroup.value %}{% set template_title, template_description = key, value %}selected="selected"{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-0">
                        <div class="card-body p-2 border border-left-0 border-right-0">
                            <h4 id="skinpicker-skin-title" class="card-subtitle mb-2" data-context="skinpicker-title">{{ template_description }}</h4>
                            <img id="skinpicker-skin-viewport" class="img-fluid" src="/wp-content/themes/mopsyd-sanctity/dist/media/img/bootstrap-default.jpg" alt="Card image" data-context="skinpicker-viewport">
                        </div>
                        <div class="card-footer">
                            <h5 id="skinpicker-skin-description" class="card-text d-flex justify-content-center" data-context="skinpicker-description">The Default look and feel of Bootstrap 4</h5>
                            <div class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="theme-options">
                                <a id="skinpicker-skin-demo" class="btn btn-outline-info" href="#" target="_blank" data-context="skinpicker-demo">Example</a>
                                <button id="skinpicker-skin-preview" type="button" class="btn btn-outline-info" data-context="skinpicker-preview">Preview</button>
                                <button id="skinpicker-skin-apply" type="submit" class="btn btn-outline-info" data-context="skinpicker-submit">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "components/forms/fields/nonce.twig" with { "nonce": form.nonce, "form": form } %}
            </div>
        </div>
    </div>
{% endblock %}