<form id="{{ id }}}" name="{{ id }}" data-component="{{ id }}-form" data-component-type="form">
    {#<p>Fields</p>
    <pre>{{ dump(fields) }}</pre>
    <p>Opts</p>
    <pre>{{ dump(opts) }}</pre>#}
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  {% include "components/forms/fields/nonce.twig" with { "nonce": form.nonce, "form": form } %}
</form>