{# Default Form Group
    
    This template produces a semantically correct form group using Bootstrap 4.
    It leaves arrangement and styling up to the calling template.
    
#}
{% block form_group %}
    {% if (formgroup["form-component"]) %}
        {% include "components/forms/fields/" ~ formgroup["form-component"] %}
    {% else %}
        <div class="form-group" data-component="{{ formgroup.type }}-form-group" data-component-type="form-group">
            {% include "components/forms/fields/" ~ formgroup.type ~ ".twig" with { "field": formgroup } %}
                {#<pre>Using standard field: {{ formgroup.type }}</pre>
                <pre>{{ dump(formgroup) }}</pre>#}
          </div>
    {% endif %}
{% endblock %}