{% set template_title = "" %}
{% set template_description = "" %}
<form id="{{ id }}" name="{{ id }}" action="{{ action }}" method="{{ method }}" data-component="{{ form.name }}-form" data-component-type="form">
    <div class="card mb-3 col-12 p-0">
        {% include "components/editor/sass-editor.twig" %}
    </div>
{#    {% include "components/forms/nonce-field.twig" with { "form": fields } %}#}
</form>