{% set template_title = "" %}
{% set template_description = "" %}
<form id="{{ id }}" name="{{ id }}" action="{{ action }}" method="{{ method }}" data-component="{{ id }}-form" data-component-type="form">
    {#<h2 class="display-4">Current Section Settings Raw</h2><pre>{{ dump(settings.shortcodes) }}</pre><hr>
    <h2 class="display-4">Template Title</h2><pre>{{ dump(template_title) }}</pre><hr>
    <h2 class="display-4">Template Description</h2><pre>{{ dump(template_description) }}</pre><hr>
    <h2 class="display-4">Template Fields</h2><pre>{{ dump(fields) }}</pre>
    <h2 class="display-4">Template Raw</h2><pre>{{ dump(template) }}</pre><hr>
    <h2 class="display-4">Full Settings Raw</h2><pre>{{ dump(settings) }}</pre><hr>#}
    {#<div class="card mb-3 col-12 col-md-8 p-0">
        <div class="card-body p-0">
            <div id="form-group-template" class=" p-2 form-group card-header">
                <label for="sanctity-frontend-template">
                    <h3 class="card-title">Shortcode Integration Settings</h3>
                </label>
                <select id="sanctity-frontend-template" class="form-control" name="sanctity-frontend-template">
                    {% for key, value in fields.template.options %}
                        <option value="{{ key }}" {% if key == fields.template.default %}{% set template_title, template_description = key, value %}selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group mb-0">
            <div class="card-body p-2 border border-left-0 border-right-0">
                <h4 id="theme-title" class="card-subtitle mb-2">{{ template_description }}</h4>
                <img id="theme-thumbnail" class="img-fluid" src="" alt="Card image">
            </div>
            <div class="card-footer">
                <h5 id="theme-description" class="card-text d-flex justify-content-center"></h5>
                <div class="btn-group btn-group-sm d-flex justify-content-center" role="group" aria-label="theme-options">
                    <a id="theme-demo" class="btn btn-outline-info" href="#" target="_blank">Example</a>
                    <button id="theme-preview" type="button" class="btn btn-outline-info">Preview</button>
                    <button id="theme-apply" type="submit" action="{{ fields.template['form-action'] }}" class="btn btn-outline-info">Apply</button>
                </div>
            </div>
        </div>
    </div>#}
    {% include "components/forms/fields/nonce.twig" with { "nonce": form.nonce, "form": form } %}
</form>