{# Default Admin Form
    
    This template is used for all forms that
    do not declare a dedicated component.
    
#}{% set tabindex = 1 %}
{% block standard_form %}
    <div id="form-{{ form.name }}-section-wrapper" class="col-12 d-inline-block" data-context="form-{{ form.name }}">
        <div class="container">
            <div class="row">
                <div class="col-12" data-component="{{ form.name }}-submit" data-component-type="form-submit">
                    {% include "components/forms/fields/submit.twig" with { "loc": "header", "tabindex": tabindex } %}{% set tabindex = tabindex + 2 %}
                    <hr>
                </div>
                {% for id, formgroup in form.fields %}
                    {% if formgroup.enabled == true %}
                    <div class="col-12 col-md-6 form-group" data-component="{{ form.name }}-form-field" data-component-type="form-field">
                        {% include "components/forms/form-group.twig" with { "id": id, "field": formgroup, "tabindex": tabindex } %}{% set tabindex = tabindex + 1 %}
                    </div>
                    {% endif %}
                {%  endfor %}
                <div class="col-12" data-component="{{ form.name }}-submit" data-component-type="form-submit">
                    <hr>
                    {% include "components/forms/fields/submit.twig" with { "loc": "footer", "tabindex": tabindex } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
