<body class="{{body_class}}" data-template="base.twig">
    {% block site_body_scripts %}
            {% include "body/scripts.twig" %}   
    {% endblock %}
    <header id="primary-header" class="header" data-context="page-header">
        <div class="container-fluid">
            <div class="row">
                {% block header %}
                    <nav class="col-12 navbar navbar-expand-lg navbar-full sticky-top navbar-light bg-light pt-0 pb-0" >
                        {% block header_branding %}
                            {% include 'partial/header_branding.twig' %}
                        {% endblock %}
                        {% block primary_nav %}
                            <div class="order-3 order-lg-2 collapse navbar-collapse navbar-toggleable-lg" id="header-primary-navigation" data-context="primary-navigation">
                                {% include "menu.twig" with {'menu': menu.get_items} %}
                            </div>
                        {% endblock %}
                        {% block primary_ui %}
                            <div id="header-primary-ui" class="navbar p-0 order-2 order-lg-3" data-context="primary-ui">
                                {% include "partial/navbar_icons.twig" %}
                            </div>
                        {% endblock %}
                    </nav>
                {% endblock %}
            </div>
        </div>
    </header>
    <div id="primary-page-background-wrapper" class="background struct z-bottom background-viewport-wrapper" data-contex="static-background">
        <div id ="header-spacer-element"></div>
        {% include "partial/parallax.twig" %}
        <section id="content" role="main" class="content-wrapper" data-context="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>
        {% block footer %}
            <footer id="primary-footer" class="wrapper container-fluid p-0" data-context="page-footer">
                <div class="row">
                    {% include 'footer.twig' %}
                </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </div>
</body>