{# Default Page Body Heading Template
    
    This renders the title bar for a default page view for any single post.
    
#}
{% block page_body_header %}
    <div class="pb-2 mb-2{% if not page.image %} col-12 mb-2{% endif %}">
        {% if page.image %}
            <div class="d-lg-flex align-lg-items-start mb-2 mb-lg-0">
                <div class="col-12 col-lg-3 d-block d-lg-inline-block my-auto">
                    <img class="d-none d-lg-inline-block img-thumbnail" src="{{ page.image.medium.src }}" alt="">
                    <img class="d-inline-block d-lg-none img-fluid mb-4" src="{{ page.image.medium.src }}" alt="">
                </div>
                <div class="d-inline-block my-auto">
        {% endif %}
                <h1 id="post-title" class="style-color color-title color-page-title" data-context="post-title">{{ page.title }}</h1>
                <p id="post-subtitle" class="lead" data-context="post-title">{{ page.subtitle }}</p>
                <hr{% if page.image %} class="d-block d-lg-none"{% endif %}>
        {% if page.image %}
            </div>
            </div>
            <div class="col-12 d-none d-lg-block">
                <hr>
            </div>
        {% endif %}
    </div>
{% endblock %}