{# Left Sidebar Template
    
    Renders the left sidebar.
    
#}
{% block left_sidebar %}
        <aside id="left-sidebar" class="container" data-context="homepage-left-sidebar">
            <div class="row">
            {% block sidebar_content %}{% endblock %}
        </div>
    </aside>
{% endblock %}