{# Right Sidebar Template
    
    Renders the right sidebar.
    
#}
{% block right_sidebar %}
    <aside id="right-sidebar" class="container" data-context="homepage-right-sidebar">
        <div class="row">
        {% block sidebar_content %}{% endblock %}
    </div>
</aside>
{% endblock %}