{# The remaining content of the Wordpress head element is included here,
only after everything prior is completed, and only if it is enabled by
the configured options. #}
{#{% if platform.header %}
    {{function('wp_head')}}
{% endif %}#}