/* 
    Created on : Mar 15, 2018, 5:18:05 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
*/
/*
    This file contains styles required to make the Wordpress backend
    generally compatible with Bootstrap.
    
    As the backend of Wordpress was not built with Bootstrap in mind,
    some opinion must be applied to make it congruent. A best-effort
    has been made to insure that the dashboard follows the expected
    functionality of a Bootstrap layout, but some discrepancies are
    likely to occur, particularly with custom styles applied by
    specific plugins.
*/
/* 
    Created on : Mar 15, 2018, 5:47:19 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
*/
/* 
    Created on : Mar 15, 2018, 5:49:50 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
*/
/*
    ---------------------------------------
    # Begin Styles #
    ---------------------------------------
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*
    ---------------------------------------
    # End Styles #
    ---------------------------------------
*/
/* 
    Created on : Mar 15, 2018, 5:48:14 PM
    Author     : Brian Dayhoff <mopsyd@me.com>
*/
