{# Image Thumbnail 

    Useful for post image thumbnails,
    but can also be used as a general
    purpose utility to provide a consistent
    approach to thumbnailing.

#}
{% if image %}
    <img {% if image.id %}id="{{ image.id }}" {% endif %} src="{{ image.src }}" alt="{{ image.alt }}" class="img-thumbnail{% if image.class %}{{ image.class }}{% endif %}" {% if image.context %}data-context="{{ image.context }}" {% endif %}>
{% endif %}