{% extends "posts/preview.twig" %}
{% block content %}
    <div class="post-wrapper row mb-3" data-component="excerpt-{{ post.id }}" data-component-type="excerpt">
        <div class="col-12">
            <div class="container-fluid p-0">
                <div class="row card pt-3">
                    {% if post.image %}
                        {% include "components/preview/preview-heading-thumbnail.twig" %}
                    {% else %}
                        {% include "components/preview/preview-heading.twig" %}
                    {% endif %}
                    {% if post.excerpt %}
                        {% include "components/preview/preview-excerpt.twig" %}
                    {% endif %}
                    {% include "components/preview/preview-footer.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}