{% if post.visible %}
    <article class="preview preview-{{post.post_type}} container-fluid mb-3" id="tease-{{ page.id }}" data-context="post" data-component="preview-{{ page.id }}" data-component-type="page-content">
        {% block content %}
            <div class="post-wrapper row">
                <div class="col-12">
                    <div class="container-fluid p-0">
                        <div class="row card pt-3">
                            {% if post.image %}
                                {% include "components/preview/preview-heading-thumbnail.twig" %}
                            {% else %}
                                {% include "components/preview/preview-heading.twig" %}
                            {% endif %}
                            {% if post.excerpt %}
                                {% include "components/preview/preview-excerpt.twig" %}
                            {% endif %}
                            {% include "components/preview/preview-footer.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </article>
{% endif %}