{% extends "base.twig" %}

{% block content %}
	<form class="password-form" action="{{site.uri}}/wp-login.php?action=postpass" method="post" data-component="password-form-{{ page.id }}" data-component-type="password-form">
		<label for="pwbox-{{post.ID}}">Password:</label>
		<input class="password-box" name="post_password" id="pwbox-{{page.id}}" type="password" placeholder="Password" size="20" maxlength="20" />
		<input class="password-btn" type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
