{% embed layout.templates[error.type] %}
        {% block error_code %}{{ error.type }}{% endblock %}
        {% block error_heading %}{{ error.heading }}{% endblock %}
        {% block error_body %}{{ error.message }}{% endblock %}
{% endembed %}

