{# Heading Category Markup Template #}
{% if categories %}
    <div class="category-toggle d-inline" data-component="categories-{{ id }}" data-component-type="category-set">
        {% block heading_categories %}
        <div id="category-toggle-{{ id }}" class="collapse py-2" aria-labeledBy="category-toggle-{{ id }}-label">
            <span class="d-flex" data-context="post-categories-{{ id }}">
                <label id="category-toggle-{{ id }}-label" for="category-toggle-{{ id }}" class="sr-only">{{ "Category List"|translate }}}</span>
                {% for key, category in categories %}
                    <a href="{{ category.uri }}" data-toggle="tooltip" title="{{ category.description|translate }}" data-context="category-link-{{ category.slug }}"><span class="badge badge-pill badge-default p-1 mr-2" >{{ category.name|translate }}</span></a>
                {% endfor %}
            </span>
        </div>
        {% endblock %}
    </div>
{% endif %}
