{# Heading Metadata #}
<div class="d-flex flex-row" data-component="meta-controls" data-component-type="metadata">
    {% block heading_metadata %}
        {% if categories %}
        <a class="bg-none border-none pr-3" data-toggle="collapse" href="#" data-target="#category-toggle-{{ id }}" role="button" aria-expanded="false" aria-controls="category-toggle-{{ id }}"><span class="badge badge-info badge-pill p-1 px-2 mr-1">{{ categories|length }}</span> Categories</a>
        {% endif %}
        {% if tags %}
        <a class="bg-none border-none pr-3" data-toggle="collapse" href="#" data-target="#tag-toggle-{{ id }}" role="button" aria-expanded="false" aria-controls="tag-toggle-{{ id }}"><span class="badge badge-info badge-pill p-1 px-2 mr-1">{{ tags|length }}</span> Tags</a>
        {% endif %}
    {% endblock %}
</div>
{% block heading_metadata_drawer %}
    {% if categories %}
    {% include "components/heading/category.twig" %}
    {% endif %}
    {% if tags %}
    {% include "components/heading/tag.twig" %}
    {% endif %}
{% endblock %}