{# Heading Tag Markup Template #}
{% if tags %}
    <div class="tag-toggle d-inline" data-component="tags-{{ id }}" data-component-type="tag-set">
        {% block heading_tags %}
        <div id="tag-toggle-{{ id }}" class="collapse py-2" aria-labeledBy="tag-toggle-{{ id }}-label">
            <span class="d-flex" data-context="post-tags-{{ id }}">
                <label id="tag-toggle-{{ id }}-label" for="tag-toggle-{{ id }}" class="sr-only">{{ "Tag List"|translate }}}</span>
                {% for key, tag in tags %}
                    <a href="{{ tag.uri }}" data-toggle="tooltip" title="{{ tag.description|translate }}" data-context="tag-link-{{ tag.slug }}"><span class="badge badge-pill badge-dark p-1 mr-2" >{{ tag.name|translate }}</span></a>
                {% endfor %}
            </span>
        </div>
        {% endblock %}
    </div>
{% endif %}
