{# Before Widget
    
    This determines the content to be placed prior to a widget.
    
    The default static assignment is not used, as this approach allows the system
    to dynamically update style criteria in accordance with layout settings automatically.
    
    This template should set the opening tags for an individual widget.
    
    Legend:
    %1$s - This is used by the platform to inject the name of the widget.
    %2%s - This is used by the platform to inject the automatically assigned classes for the widget.
    
    All other criteria can be accessed dynamically using the normal template variables.
    
#}<div id="%1$s-{{ component.slug }}-widget" class="{{ component.class }} %2$s style-color color-{{ component.location }}-text color-{{ component.location }}-link color-{{ component.location }}-link-hover" data-context="%1$s-{{ component.slug }}-widget">