{# Before Widget Title
    
    This determines the content to be placed before a widget title.
    
    The default static assignment is not used, as this approach allows the system
    to dynamically update style criteria in accordance with layout settings automatically.
    
    This template should set the opening tags for an individual widget title.
    
    Legend:
    %1$s - This is used by the platform to inject the name of the widget.
    %2%s - This is used by the platform to inject the automatically assigned classes for the widget.
    
    All other criteria can be accessed dynamically using the normal template variables.
#}<div class="{{ component["title-class"] }}" data-context="{{ component.slug }}-title"><h4 class="{{ component["title-text-class"] }} style-color color-{{ component.slug }}-title"  data-component="{{ component.slug }}-widget" data-component-type="widget">