{# Page Header Control Block

    This file controls the render of the primary page header.
    
    The page header and page footer are not directly represented within the layouts.
    There are some layout bindings, but the underlying structure is run from the
    root template to insure that display is consistent for the sites primary identity
    and branding from page to page.
    
    The content within this template should primarily be left to the end user to
    control through the provided interface and/or core Wordpress interface,
    through the normal theme settings page. Extensions to the capabilities
    of the theme can be accomplished through the provided backend api if they
    need to be extended, or can be configured directly through the backend of
    the site by end users.
    
    The primary header provides hooks for altering menus, the ui area, and
    performing some modifications to the logo and site identity, but these
    should be done through the provided PHP methods or the hooks and filters
    provided with the theme via the standard Wordpress hook/filter system.

#}<header id="primary-header" class="header sticky-top branding-header style-header layout-header" data-context="page-header" data-component="primary-header" data-component-type="header">
    <div class="container-fluid">
        <div class="row z-depth-2">
            {% block header %}
                <nav class="col-12 navbar navbar-expand-lg navbar-full {% if layout.options["sticky-site-header"] %}sticky-top {% endif %}navbar-light bg-light style-color color-header color-header-links color-header-links-hover color-header-links-sublinks color-header-links-sublinks-hover color-header-border branding-nav pt-0 pb-0" >
                    <div class="container-fluid">
                        {% block header_branding %}
                            {% include 'components/header_branding.twig' %}
                        {% endblock %}
                        {% block primary_nav %}
                            <div class="order-3 order-lg-2 collapse navbar-collapse navbar-toggleable-lg branding-nav" id="header-primary-navigation" data-context="primary-navigation" data-component="primary-navigation" data-component-type="menu">
                                {% include "menus/primary.twig" with {'menu': menu.primary } %}
                            </div>
                        {% endblock %}
                        {% block primary_ui %}
                            <div id="header-primary-ui" class="navbar p-0 border-0 order-2 order-lg-3 branding-ui" data-context="primary-ui" data-component="primary-ui" data-component-type="ui-buttons">
                                {% include "components/navbar_icons.twig" %}
                            </div>
                        {% endblock %}
                    </div>
                </nav>
            {% endblock %}
        </div>
    </div>
    {% if debug %}
        <div id="frontend-debugger-panel" class="collapse container-fluid p-0 m-0" data-component="page-debugger" data-component-type="debug">
            <div class="row">
                <div class="col-12">
                    {% include "components/debugger/debugger.twig" with { "origin": "frontend/headers/control-block.twig" } %}
                </div>
            </div>
        </div>
    {% endif %}
</header>