{# Simple Input Field Template
    
    A normal input text field
    
#}{% block checkbox_field %}
    <div data-component="{{ field["field-id"] }}-checkbox" data-component-type="checkbox">
        <div class="container-fluid pt-2">
            <div class="row">
                <div class="col-12 checkbox">
                    <span class="d-flex flex-row justify-content-between mb-2 w-100">
                        <label class="text-bold" for="{{ field["field-id"] }}">{{ field.label|translate }}</label><br>
                        <span class="lead" data-toggle="popover" data-trigger="hover click" data-title="{{ "Description"|translate }}" data-content="{{ field.description|translate }}" data-context="{{ field["field-id"] }}-checkbox-info"><i class="fas fa-question-circle"></i></span>
                    </span>
                    <input id="{{ field["field-id"] }}" data-toggle="toggle" data-off="{{ "Off"|translate }}" data-on="{{ "On"|translate }}" type="checkbox">
                </div>
            </div>
        </div>
    </div>
{% endblock %}