{# Color Selection Component
    
    This is a rich UI component for color selection,
    which supports both web based and system native color selection.
    It provides variant swatch sets for color selectionn,
    and contextual data about the currently selected color.
    It is designed to work with Chroma.js and Spectrum.js
    to work effectively.
    
#}{% block color_picker_field %}
    <div class="card" data-component="{{ field["field-id"] }}-color-picker" data-component-type="color-picker">
        <div class="card-body px-0 pb-0">
            <span class="d-flex flex-row justify-content-between mb-2 w-100">
                <label class="card-title text-bold mb-0" for="{{ field["field-id"] }}-label">{{ formgroup.label|translate }}</label>
                <span class="lead" data-toggle="popover" data-trigger="hover click" data-title="{{ "Usage Info"|translate }}" data-content="{{ field.description|translate }}" data-context="{{ field["field-id"] }}-color-input-info"><i class="fas fa-question-circle"></i></span>
            </span>
            <div class="input-group sanctity-input-button-combo-group">
                <input id="{{ field["field-id"] }}-color-input" value="{{ field.value }}" name="{{ field["field-id"] }}-color-input" type="text" tabindex="{{ tabindex }}" class="form-control"{% if (field.placeholder) %} placeholder="{{ field.placeholder }}"{% endif %} aria-describedby="{{ field["field-id"] }}-label" data-context="spectrum-color-input-{{ field["field-id"] }}">
                <div class="input-group-append sanctity-inline-append">
                    <button id="{{ field["field-id"] }}-color-picker-toggle" name="{{ field["field-id"] }}-color-picker-toggle" class="btn px-3 border-left-none border-right-none d-none" type="button" title="{{ "Toggle Color Picker"|translate }}" data-context="{{ field["field-id"] }}-color-picker-toggle">
                        <input id="{{ field["field-id"] }}-color-input-preview" class="sanctity-color-picker-preview" name="{{ field["field-id"] }}-color-input-preview" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-preview" />
                    </button>
                    <button id="{{ field["field-id"] }}-color-picker-spectrum" name="{{ field["field-id"] }}-color-picker-spectrum" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Color Selection"|translate }}"><input id="{{ field["field-id"] }}-color-picker" name="{{ field["field-id"] }}-color-picker" type='text' class="btn btn-outline-secondary spectrum-color-picker" data-context="{{ field["field-id"] }}-color-input" /></button>
                    <button id="{{ field["field-id"] }}-color-picker-swatches" name="{{ field["field-id"] }}-color-picker-swatches" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Color Selection Swatches"|translate }}" data-context="{{ field["field-id"] }}-color-swatches" data-toggle="collapse" data-target="#{{ field["field-id"] }}-color-input-swatches-wrapper" aria-expanded="false" aria-controls="{{ field["field-id"] }}-color-swatches-wrapper"><i class="fas fa-th"></i></button>
                    <button id="{{ field["field-id"] }}-color-picker-options" name="{{ field["field-id"] }}-color-picker-options" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Color Selection Settings"|translate }}" data-context="{{ field["field-id"] }}-color-options" data-toggle="collapse" data-target="#{{ field["field-id"] }}-color-options-wrapper" aria-expanded="false" aria-controls="{{ field["field-id"] }}-color-options-wrapper"><i class="fas fa-cog"></i></button>
                    <button id="{{ field["field-id"] }}-color-input-reset" name="{{ field["field-id"] }}-color-input-reset" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Clear Color"|translate }}" data-context="{{ field["field-id"] }}-color-input-reset" ><i class="fas fa-trash"></i></button>
                </div>
            </div>
            <div id="{{ field["field-id"] }}-color-input-swatches-wrapper" class="collapse">
                <div class="input-group sanctity-input-button-combo-group">
                    <div class="input-group-append sanctity-inline-append">
                        <button class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Original"|translate }}" data-context="{{ field["field-id"] }}-color-picker-original" data-target="#{{ field["field-id"] }}-color-input" >
                            <input class="sanctity-color-picker-preview sanctity-swatch-field" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-original" />
                        </button>
                        {% for i in 1..10 %}
                            <button id="{{ field["field-id"] }}-color-picker-lighter-swatch-{{ i }}" name="{{ field["field-id"] }}-color-picker-lighter-{{ i }}" class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Lighter Variant " ~ i |translate }}" data-context="{{ field["field-id"] }}-color-picker-lighter-{{ i }}" data-target="#{{ field["field-id"] }}-color-input">
                                <input id="{{ field["field-id"] }}-color-input-lighter-{{ i }}" class="sanctity-color-picker-preview sanctity-swatch-field" name="{{ field["field-id"] }}-color-input-lighter-{{ i }}" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-lighter-{{ i }}" />
                            </button>
                        {% endfor %}
                    </div>
                    <div class="input-group-append sanctity-inline-append">
                        <button class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Original"|translate }}" data-context="{{ field["field-id"] }}-color-picker-original" data-target="#{{ field["field-id"] }}-color-input" >
                            <input class="sanctity-color-picker-preview sanctity-swatch-field" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-original" />
                        </button>
                        {% for i in 1..10 %}
                            <button id="{{ field["field-id"] }}-color-picker-saturated-swatch-{{ i }}" name="{{ field["field-id"] }}-color-picker-saturated-{{ i }}" class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Saturated Variant " ~ i |translate }}" data-context="{{ field["field-id"] }}-color-picker-saturated-{{ i }}" data-target="#{{ field["field-id"] }}-color-input">
                                <input id="{{ field["field-id"] }}-color-input-saturated-{{ i }}" class="sanctity-color-picker-preview sanctity-swatch-field" name="{{ field["field-id"] }}-color-input-saturated-{{ i }}" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-saturated-{{ i }}" />
                            </button>
                        {% endfor %}
                    </div>
                    <div class="input-group-append sanctity-inline-append">
                        <button class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Original"|translate }}" data-context="{{ field["field-id"] }}-color-picker-original" data-target="#{{ field["field-id"] }}-color-input" >
                            <input class="sanctity-color-picker-preview sanctity-swatch-field" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-original" />
                        </button>
                        {% for i in 1..10 %}
                            <button id="{{ field["field-id"] }}-color-picker-desaturated-swatch-{{ i }}" name="{{ field["field-id"] }}-color-picker-desaturated-{{ i }}" class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Deaturated Variant " ~ i |translate }}" data-context="{{ field["field-id"] }}-color-picker-desaturated-{{ i }}" data-target="#{{ field["field-id"] }}-color-input">
                                <input id="{{ field["field-id"] }}-color-input-desaturated-{{ i }}" class="sanctity-color-picker-preview sanctity-swatch-field" name="{{ field["field-id"] }}-color-input-desaturated-{{ i }}" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-desaturated-{{ i }}" />
                            </button>
                        {% endfor %}
                    </div>
                    <div class="input-group-append sanctity-inline-append">
                        <button class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Original"|translate }}" data-context="{{ field["field-id"] }}-color-picker-original" data-target="#{{ field["field-id"] }}-color-input" >
                            <input class="sanctity-color-picker-preview sanctity-swatch-field" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-original" />
                        </button>
                        {% for i in 1..10 %}
                            <button id="{{ field["field-id"] }}-color-picker-darker-swatch-{{ i }}" name="{{ field["field-id"] }}-color-picker-darker-{{ i }}" class="btn p-1 border-left-none border-right-none colorpicker-swatch" type="button" title="{{ "Swatch Darker Variant " ~ i |translate }}" data-context="{{ field["field-id"] }}-color-picker-darker-{{ i }}" data-target="#{{ field["field-id"] }}-color-input">
                                <input id="{{ field["field-id"] }}-color-input-darker-{{ i }}" class="sanctity-color-picker-preview sanctity-swatch-field" name="{{ field["field-id"] }}-color-input-darker-{{ i }}" type="color" value="#ffffff" data-context="{{ field["field-id"] }}-color-input-darker-{{ i }}" />
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="{{ field["field-id"] }}-color-options-wrapper" class="collapse">
                <div class="container-fluid pt-2">
                    <div class="row">
                        <div class="col-12 checkbox">
                            <label class="card-title text-bold" for="{{ field["field-id"] }}-color-picker-ui-selector">{{ "Use UI Picker or Native Operating System?"|translate }}</label><br>
                            <input id="{{ field["field-id"] }}-color-input-ui-switch" data-toggle="toggle" data-off="{{ "Sanctity UI"|translate }}" data-on="{{ "Browser UI"|translate }}" data-width="175" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0">
            <p class="card-text">
                <strong>Format:</strong> <span id="{{ field["field-id"] }}-color-input-format" class="pr-1"></span>
            </p>
            <p class="card-text">
                <strong>R:</strong> <span id="{{ field["field-id"] }}-color-input-red" class="pr-1"></span>
                <strong>G:</strong> <span id="{{ field["field-id"] }}-color-input-green" class="pr-1"></span>
                <strong>B:</strong> <span id="{{ field["field-id"] }}-color-input-blue" class="pr-1"></span>
                <strong>A:</strong> <span id="{{ field["field-id"] }}-color-input-alpha" class="pr-3"></span>
            </p>
        </div>
    </div>
{% endblock %}