{# Simple Input Field Template
    
    A normal input text field
    
#}
<span class="hidden" data-component="{{ form.name }}-nonce" data-component-type="nonce">
    <input id="{{ form["nonce-field"] }}" type="hidden" name="{{ form["nonce-field"] }}" value="{{ form.nonce }}" data-context="{{ form.name }}-nonce" />
    <input id="_wp_http_referer" type="hidden" name="_wp_http_referer" value="{{ form.referrer }}" data-context="{{ form.name }}-referer" />
    <input id="form-binding" type="hidden" name="form-binding" value="{{ form.binding }}" data-context="{{ form.name }}-binding" />
</span>

