{# Social Profile Selection Component
    
    This is a simple component for selecting social media profiles in the admin settings.
    
#}{% block social_field %}
    {% if field.enabled %}
    <span class="d-flex flex-row justify-content-between mb-2 w-100">
        <label class="text-bold mb-0" for="{{ field["field-id"] }}-label">{{ formgroup.label|translate }}{%if field.value.endpoint %}{% if field.value.valid == true and field.value.enabled == true %}<span class="text-success"> - {%if field.value.autoverify == false %}<span class="text-warning">Unverifiable, </span>{% else %}Valid, {% endif %}public.</span>{% elseif field.value.valid == true and field.value.enabled == false %}<span class="text-warning"> - {%if field.value.autoverify == false %}Unverifiable, {% else %}Valid, {% endif %}not public.</span>{% else %}<span class="text-danger"> - Link not valid.</span>{% endif %}{% endif %}</label>
        <span>
            {% if field.value.endpoint %}
                {% if field.value.valid == true and field.value.enabled == true %}
            <span class="lead text-success" data-toggle="popover" data-trigger="hover click" data-title="{{ "This is a valid endpoint."|translate }}" data-content="{{ "This profile is valid and actively displays on the frontend."|translate }}" data-context="{{ field["field-id"] }}-social-input-info"><i class="fas fa-check-circle"></i></span>
                {% elseif field.value.valid == true and field.value.enabled == false %}
            <span class="lead text-warning" data-toggle="popover" data-trigger="hover click" data-title="{{ "The provided endpoint is disabled."|translate }}" data-content="{{ "This profile is valid, but is hidden from frontend display."|translate }}" data-context="{{ field["field-id"] }}-social-input-info"><i class="fas fa-exclamation-circle"></i></span>
                {% else %}
            <span class="lead text-danger" data-toggle="popover" data-trigger="hover click" data-title="{{ "The provided endpoint is not valid!"|translate }}" data-content="{{ "This profile is not valid. It will not display until it resolves correctly. This indicates that the backend check against the provided profile returned an error or not found result"|translate }}" data-context="{{ field["field-id"] }}-social-input-info"><i class="fas fa-times-circle"></i></span>
                {% endif %}
            {% endif %}
            <span class="lead" data-toggle="popover" data-trigger="hover click" data-title="{{ "Usage Info"|translate }}" data-content="{{ field.description|translate }}" data-context="{{ field["field-id"] }}-social-input-info"><i class="fas fa-question-circle"></i></span>
        </span>
    </span>
    <div class="input-group sanctity-input-button-combo-group">
        <div class="input-group-append sanctity-inline-prepend">
            <span id="{{ field["field-id"] }}-icon" class="btn px-3 border-left-none border-right-none disabled" type="button" data-context="{{ field["field-id"] }}-social-icon"><span class="h2"><i class="{{ field.icon }}"></i></span></span>
        </div>
        <input id="{{ field["field-id"] }}" value="{{ field.value.endpoint }}" name="{{ field["field-id"] }}" type="text" tabindex="{{ tabindex }}" class="form-control"{% if (field.placeholder) %} placeholder="{{ field.placeholder }}"{% endif %} aria-describedby="{{ field["field-id"] }}-label" data-context="spectrum-social-input-{{ field["field-id"] }}">
        <div class="input-group-append sanctity-inline-append">
            {#<button id="{{ field["field-id"] }}-options" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Social Profile Selection Settings"|translate }}" data-context="{{ field["field-id"] }}-social-options" data-toggle="collapse" data-target="#{{ field["field-id"] }}-social-options-wrapper" aria-expanded="false" aria-controls="{{ field["field-id"] }}-social-options-wrapper"><i class="fas fa-cog"></i></button>#}
            <button id="{{ field["field-id"] }}-input-reset" class="btn px-3 border-left-none border-right-none" type="button" title="{{ "Clear Social Profile"|translate }}" data-context="{{ field["field-id"] }}-social-input-reset" ><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="mt-3">
        <div class="form-check ml-0 pl-0 mb-3">
            <input class="form-check-input mt-1" type="checkbox" id="{{ field["field-id"] }}-display" name="{{ field["field-id"] }}-display" {% if field.value.enabled %}checked="checked" {% endif %}value="">
            <label class="form-check-label pl-4" for="{ field["field-id"] }}-display">{{ "Show on frontend"|translate }}</label>
        </div>
        {% if field.value.autoverify == false %}
            <span class="ml-0 pl-0 mb-3 text-warning"><i class="fas fa-exclamation-circle"></i> {{ "This site blocks profile verification without an api token.<br>Please verify the integrity of your link manually."|translate }}</span>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}