{# Simple Input Field Template
    
    A normal input text field
    
#}
<div class="d-flex flex-row justify-content-end p-2" data-component="{{ form.name }}-form-submit" data-component-type="form-submit">
    <button id="{{ form.name }}-reset-{{ loc }}" type="button" class="btn btn-secondary mr-2" tabindex="{{ tabindex }}" data-context="{{ form.name }}-reset">Reset</button>{% set tabindex = tabindex +1 %}
    <button id="{{ form.name }}-apply-{{ loc }}" type="submit" action="{{ fields.template['form-action'] }}" tabindex="{{ tabindex }}" class="btn btn-primary" data-context="{{ form.name }}-submit">Apply</button>{% set tabindex = tabindex +1 %}
</div>
{#<pre>{{ dump(form) }}</pre>#}
