<div class="col-12" data-component="{{ page.slug }}-page-body" data-component-type="page-body">
    <div class="container-fluid p-0">
        {% block settings_page_heading %}
            <div class="row">
                <div class="col-12 p-0">
                    {% include "sanctity/settings/sections/settings-primary-tabs.twig" %}
                </div>
            </div>
        {% endblock %}
        {% block settings_page_content %}
            <div class="row">
                <div id="sanctity-settings-content" class="col-12 card m-0 pt-5 tab-content">
                    {% include "sanctity/settings/sections/settings-primary-container.twig" %}
                </div>
            </div>
        {% endblock %}
    </div>
</div>