{# Settings Page Header Template
    
    This template builds the settings header for the theme settings page.
    
#}
{% block settings_page_heading %}
<div class="col-12 h-auto" data-component="{{ page.slug }}-page-heading" data-component-type="page-heading">
    <div class ="container-fluid p-0 m-0 h-100">
        <div class ="row p-0 m-0 d-flex flex-row justify-content-start align-items-center h-100">
            <div class="pl-0 ml-0 mh-100 d-inline">
                <h1 id="theme-settings-title" class="mb-0" style="vertical-align: bottom !important;">
                    <img class="img-fluid pl-0 pr-3 pb-3 pb-lg-0 ml-0 d-inline-block d-md-none d-lg-inline-block" style="height: 3rem; vertical-align: bottom;" src="{{ page.page_logo }}" alt="{{ page.title }}" />
                    <img class="img-fluid pl-0 pr-3 ml-0 d-none d-md-inline-block d-lg-none" style="height: 3rem; vertical-align: bottom;" src="{{ page.page_logo_icon }}" alt="{{ page.title }}" />
                    <span class="mt-auto d-inline-block d-md-inline">{{ page.title }}</span>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}