{# Section Not Found Template
    
    Renders a default empty message if a form section does not exist.
    
#}
{% block subsection_not_found %}
    <div id="{{ section.form.name }}-form-wrapper" class="row" data-component="{{ page.slug }}-section-notfound" data-component-type="section-notfound">
        <div class="col-12">
            <p class="lead">This section currently has no content.</p>
        </div>
    </div>
{% endblock %}