{# Section Heading Template
    
    Renders the panel heading for a settings page.
    
#}
<div class="row" data-component="{{ page.slug }}-section-heading" data-component-type="section-heading">
    <div class="col-12">
        <h3 class="font-weight-bold text-capitalize">{% if (section.icon) %}<i class="{{ section.icon }}"></i> {% endif %}{{ section.title }}</h3>
    </div>
    {% if (section.description) %}
        {% block subsection_description %}
            <div class="col-12">
                <p class="lead">{{ section.description }}</p>
            </div>
        {% endblock %}
    {% endif %}
    <hr>
</div>
{% if (debug) %}
    <div class="row">
        <div class="col-12">
            {% include "components/debugger/debugger.twig" with { "origin": "pages/sanctity/settings/section-heading.twig" } %}
        </div>
    </div>
{% endif %}