{# Section Form Template
    
    Renders the form body for the settings section, if any forms exist.
    
#}
{% if (section.form) %}
    {% block subsection_form %}
        <fieldset id="{{ section.form.name }}-form-wrapper" class="row">
            <form id="{{ section.form.name }}" name="{{ section.form.name }}" action="{% if (section.form.method == "POST" ) %}{{ section.form.action }}{% else %}{{ section.form.action }}{% endif %}" method="{{ section.form.method }}" data-component="{{ section.form.name }}-section-form" data-component-type="form">
                {% include [ 'components/forms/' ~ section.name ~ ".twig", "components/forms/standard-form.twig" ] with {"form": section.form } %}
                {% include "components/forms/fields/nonce.twig" with { "nonce": section.form.nonce, "form": section.form } %}
            </form>
        </fieldset>
    {% endblock %}
{% endif %}