{# Section Index Template
    
    Renders the settings index panel for the overview section of the settings.
    
#}
{% block subsection_index %}
    <div id="{{ page.name }}-index-wrapper" class="row" data-component="{{ page.slug }}-section-index" data-component-type="section-index">
        {% if (panels) %}
            {% for key, panel in (panels) %}
                <div class="col-12 col-lg-6 card">
                    <p class="lead">Dashboard Panel Development, in: <strong><pre>sanctity/settings/sections/dashboard.twig</pre></strong></p>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                {% include "sanctity/settings/section-not-found.twig" %}
            </div>
        {% endif %}
    </div>
{% endblock %}