<div id="{{ page.slug }}-{{ slug }}-settings" data-component="{{ page.slug }}-settings-panel" data-component-type="settings-panel">
    <div class="container-fluid p-0">
        {% block section_heading %}
            {% include "sanctity/settings/section-heading.twig" %}
        {% endblock %}
        {% block section_body %}
            {% include "sanctity/settings/section-form.twig" %}
        {% endblock %}
    </div>
</div>
