<div id="{{ page.slug }}-settings-index" data-component="{{ page.slug }}-section-index" data-component-type="section-index">
    <div class="container-fluid p-0">
        {% block subsection_heading %}
            {% include "sanctity/settings/section-heading.twig" %}
        {% endblock %}
        {% block subsection_body %}
            {% include "sanctity/settings/section-index.twig" %}
        {% endblock %}
    </div>
</div>
