{# DO NOT ALTER THIS FILE. Never ever. It will be updated on subsequent releases if needed.

    This is the root template. All other templates aggregate from this one.

#}<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
    {% block html_head_container %}
        {% include 'html-head.twig' %}
    {% endblock %}
    {% block html_body_container %}
        {% include 'html-body.twig' %}
    {% endblock %}
</html>
