{# Primary Body Container 
    This template calls a number of dedicated subtemplates referred to as "control-blocks"
    The control blocks localize their data and keep information within the scope of what
    they are trying to accomplish, making subtemplating extremely easy.

    It is strongly suggested that you do not override any of the control blocks, wrap them,
    or otherwise fiddle with them. They all contain the correct routing protocol already to
    deliver information where it needs to go. You may override the blocks designated within
    a control block or lower without breaking the theme.

    @note Root level folders all end in a plural designation (with the exception of body and head).
        Layout level embeds use a non-plural naming convention. Overriding the pluralized
        paths can cause erratic effects. Don't do that. As long as your paths use non-plural
        folder names and originate from your layout root, and you don't override the body or head templates,
        you shouldn't have any issues or collisions.
#}<body class="layout-{{ layout.metadata.id }} {{ branding["body-class"]|join(' ') }} momentum-ios style-color color-background color-text color-links color-links-hover color-title" {% if debug %}data-template="{{ page.template }}"{% endif %}>
    {% block site_body_scripts %}
        {% include "body/scripts.twig" %}   
    {% endblock %}
    {% block site_header %}
        {% include "headers/control-block.twig" %}
    {% endblock %}
    <div id="primary-page-background-wrapper" class="background struct z-bottom background-viewport-wrapper" data-context="static-background">
    {% block site_static_viewport %}
        {% include "body/background-control-block.twig" %}
    {% endblock %}
    {% block site_content %}
        {% include "body/control-block.twig" %}
    {% endblock %}
        <!-- [ footer content ] -->
    {% block site_footer %}
        {% include "footers/control-block.twig" %}
    {% endblock %}
        <!-- [ end footer content ] -->
    </div>
</body>