{# Primary Document Head Container 
    This template calls a number of dedicated subtemplates tasked with correctly
    laying out the document head in accordance with the data provided by the backend.
    Don't override this stuff at all.

    If you need additional data provided to the head, utilize the backend api
    provided with the theme. There are already means to push any data you need
    up to the template, and you really don't need to worry about modifying the
    head whatsoever. If you think you have a case where you ought to,
    you don't and you're doing it wrong. Go read the docs and do it right.

    @note If you change anything in this file or any of its connected files,
        override this file, override any connected file, or otherwise fiddle
        with anything originating from this file, you WILL break things,
        and probably make your frontend not work at all. If this in turn
        snowballs into a series of busted ajax calls because you broke the
        data aggregation module, then it may also fry your backend.
        
        Don't do that. Ever.
        
        No support requests will be honored for anyone who broke their
        document head except on paid terms. The only exception to this is
        developers officially contributing to the project, who should post
        an issue on the repo if they encounter a bug.
#}
<head>
    {% block site_head_title %}
        {% include "head/title.twig" %}   
    {% endblock %}
    {% block site_head_meta %}
        {% include "head/metadata.twig" %}   
    {% endblock %}
    {% block site_head_links %}
        {% include "head/links.twig" %}   
    {% endblock %}
    {% block site_head_favicon %}
        {% include "head/favicon.twig" %}   
    {% endblock %}
    {% block site_head_styles %}
        {% include "head/styles.twig" %}   
    {% endblock %}
    {% block site_head_scripts %}
        {% include "head/scripts.twig" %}   
    {% endblock %}
    {% block site_head_wphead %}
        {% include "head/wp-head.twig" %}   
    {% endblock %}
</head>
