{% extends "base.twig" %}

{% block content %}
	<form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post" data-component="{{ page.type }}-password-form" data-component-type="password-form">
		<label for="pwbox-{{post.id}}">Password:</label>
		<input class="password-box" name="post_password" id="pwbox-{{post.id}}" type="password" placeholder="Password" size="20" maxlength="20" />
		<input class="password-btn" type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
