{# Control Block for the primary site footer #}
{% block site_footer %}
    {% if layout.options["enable-page-footer"] %}
        <aside id="primary-footer" class="wrapper container-fluid{% if layout.options["sticky-page-footer"] and layout.options["sticky-site-footer"] %} fixed-bottom {% endif %}" data-context="site-footer" data-component="primary-footer" data-component-type="footer">
            <div class="row">
                {% include 'footers/layout.twig' %}
            </div>
        {% endif %}
        {% if layout.options["enable-site-footer"] %}
            <div class="row">
                {% include 'footers/default.twig' %}
            </div>
        </aside>
    {% endif %}
    {% include 'footer/links.twig' %}
    {% include 'footer/styles.twig' %}
    {% include 'footer/scripts.twig' %}
    {% if platform.footer and page.footer.content %}
        {{ page.footer.content }}
    {% endif %}
{% endblock %}