{# Site Footer Provider Template
    
    This template provides the blocks that display your site footer.
    This footer displays on all pages by default at the very bottom
    of the page.
    
    The layout also has a footer, which is configurable in the layout settings.
    This footer is consistent, and displays underneath that one.
    
    The purpose of this dual setup is to allow the flexibility of having a
    primary site identity that is undisrupted across layouts, while still
    allowing an individual layout to provide its own footer details as needed.
    This footer can be disabled in the admin panel settings, and will not display
    if it is shut off.
    
#}
{% block site_footer %}
    {% if layout.options["enable-site-footer"] %}
    <!--[ site footer ] -->
    <footer id="site-footer" class="container-fluid style-color color-site-footer style-color color-site-footer color-site-footer-border color-site-footer-text color-site-footer-link color-site-footer-link-hover color-site-footer-title px-0 mx-0" data-context="site-footer" data-component="site-footer" data-component-type="footer">
        {% include "footers/addons/footer-attribution.twig" %}
    </footer>
    {% endif %}
{% endblock %}