{# Layout Footer Provider Template
    
    This template provides the blocks that display your layout footer.
    This footer displays on all pages that have a layout footer enabled,
    which is inherited from the layout settings if not defined.
    
    The layout is separate from the site footer, and is rendered directly
    above the site footer. This allows the context of the footer layout for
    individual site sections to vary based on presentation, while still
    maintaining a primary site footer that provides consistent branding
    for the site. 
    
    The purpose of this dual setup is to allow the flexibility of having a
    primary site identity that is undisrupted across layouts, while still
    allowing an individual layout to provide its own footer details as needed.
    This footer can be disabled in the admin panel settings or on a page by
    page basis, and will not display if it is shut off.
    
#}
{% if layout.options["enable-page-footer"] %}
    <!--[ layout footer ] -->
    <footer id="layout-footer" class="container-fluid p-0 m-0 style-color color-page-footer color-page-footer-border color-page-footer-text color-page-footer-link color-page-footer-link-hover color-page-footer-title" data-context="page-footer" data-component="page-footer" data-component-type="footer">
        {% block layout_footer %}
            <nav class="navbar {% if layout.options["sticky-page-footer"] and not layout.options["sticky-site-footer"] %}{#fixed-bottom #}{% endif %} row p-0 m-0" data-context="sticky-footer">
                {% if layout.options["sticky-page-footer"] and not layout.options["sticky-site-footer"] %}
                    <div class="site-footer-unsticky-buffer"></div>
                {% elseif layout.options["sticky-site-footer"] and not layout.options["sticky-page-footer"] %}
                    <div class="page-footer-unsticky-buffer"></div>
                {% endif %}
                <div id="page-footer-heading" class="col order-1 col-12" data-context="page-footer-heading">
                    {% include "footers/addons/footer-heading.twig" %}
                </div>
                <div id="page-footer-columns"  class="col order-2 col-12" data-context="page-footer-columns">
                    <div class="py-3 d-flex flex-row justify-content-center align-content-start">
                        <div class="container" data-component="footer-menu-left" data-component-type="menu">
                            <div class="row">
                                {% include "footers/addons/footer-menu-left.twig" %}
                            </div>
                        </div>
                        <div class="container" data-component="footer-menu-center" data-component-type="menu">
                            <div class="row">
                                {% include "footers/addons/footer-menu-center.twig" %}
                            </div>
                        </div>
                        <div class="container" data-component="footer-menu-right" data-component-type="menu">
                            <div class="row">
                                {% include "footers/addons/footer-menu-right.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page-footer-subtext"  class="col order-3 col-12" data-context="page-footer-subtext">
                    {% include "footers/addons/footer-subtext.twig" %}
                </div>
            </nav>
        {% endblock %}
    </footer>
{% endif %}