{# Testing Parallax Functionality
    
    This template constitutes proof of concept for the dynamic parallax functionality,
    which is going to take some fiddling to correctly implement and also make manageable
    from the backend.
    
    This template will be removed and/or converted to a dynamic parallax builder
    when the underlying functionality is in place.
    
#}
<button id="toggle-debug">Toggle Debug</button>
<button id="toggle-top-left">Top Left</button>
<button id="toggle-top-center">Top Center</button>
<button id="toggle-top-right">Top Right</button>
<button id="toggle-center-left">Center Left</button>
<button id="toggle-center">Center</button>
<button id="toggle-center-right">Center Right</button>
<button id="toggle-bottom-left">Bottom Left</button>
<button id="toggle-bottom-center">Bottom Center</button>
<button id="toggle-bottom-right">Bottom Right</button>
<hr>
<style type="text/css">
    .sanctity-parallax .title
    {
        height:4500px;
        width: 2500px;
        background-color:rgba(255, 255, 255, 0.05);
        border: 1px solid red;
        font-weight: 700;
    }
</style>
<script>
    var debugInput = document.querySelector("#toggle-debug");
    var topLeft = document.querySelector("#toggle-top-left");
    var topCenter = document.querySelector("#toggle-top-center");
    var topRight = document.querySelector("#toggle-top-right");
    var centerLeft = document.querySelector("#toggle-center-left");
    var center = document.querySelector("#toggle-center");
    var centerRight = document.querySelector("#toggle-center-right");
    var bottomLeft = document.querySelector("#toggle-bottom-left");
    var bottomCenter = document.querySelector("#toggle-bottom-center");
    var bottomRight = document.querySelector("#toggle-bottom-right");
    var clear = function ()
    {
        document.querySelector("#parallax-wrapper").classList.remove('perspective-top-left');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-top-center');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-top-right');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-center-left');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-center');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-center-right');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-bottom-left');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-bottom-center');
        document.querySelector("#parallax-wrapper").classList.remove('perspective-bottom-right');
    };
    function updateDebugState() {
        document.querySelector("#parallax-wrapper").classList.toggle('parallax-debug-enabled');
    }
    function setTopLeft() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-top-left');
    }
    function setTopCenter() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-top-center');
    }
    function setTopRight() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-top-right');
    }
    function setCenterLeft() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-center-left');
    }
    function setCenter() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-center');
    }
    function setCenterRight() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-center-right');
    }
    function setBottomLeft() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-bottom-left');
    }
    function setBottomCenter() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-bottom-center');
    }
    function setBottomRight() {
        clear();
        document.querySelector("#parallax-wrapper").classList.toggle('perspective-bottom-right');
    }
    debugInput.addEventListener("click", updateDebugState);
    topLeft.addEventListener("click", setTopLeft);
    topCenter.addEventListener("click", setTopCenter);
    topRight.addEventListener("click", setTopRight);
    centerLeft.addEventListener("click", setCenterLeft);
    center.addEventListener("click", setCenter);
    centerRight.addEventListener("click", setCenterRight);
    bottomLeft.addEventListener("click", setBottomLeft);
    bottomCenter.addEventListener("click", setBottomCenter);
    bottomRight.addEventListener("click", setBottomRight);
</script>
<div id="parallax-wrapper" class="sanctity-parallax perspective-origin perspective-center">
    <div id="parallax-group-test" class="parallax-group">
        <div class="parallax-layer parallax-depth-10">
            <div class="title">Depth-10
                <img src="https://cdn.mopsyd.com/public/20180308171414/background-1974943_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-9">
            <div class="title">Depth-9
                <img src="https://cdn.mopsyd.com/public/20180308171429/steam-3160715_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-8">
            <div class="title">Depth-8
                <img src="https://cdn.mopsyd.com/public/20180308171414/background-1974943_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-7">
            <div class="title">Depth-7
                <img src="https://cdn.mopsyd.com/public/20180308171417/banner-1660471_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-6">
            <div class="title">Depth-6
                <img src="https://cdn.mopsyd.com/public/20180308171414/background-1974943_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-5">
            <div class="title">Depth-5
                <img src="https://cdn.mopsyd.com/public/20180308171417/banner-1660471_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-4">
            <div class="title">Depth-4
                <img src="https://cdn.mopsyd.com/public/20180308171409/abstract-1278055_1920.jpg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-3">
            <div class="title">Depth-3
                <img src="https://cdn.mopsyd.com/public/20180309053329/wave-swell.jpeg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-2">
            <div class="title">Depth-2
                <img src="https://cdn.mopsyd.com/public/20180307210547/triggerHappy.png" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-depth-1">
            <div class="title">Depth-1
                <img src="https://cdn.mopsyd.com/public/20180409184958/sanctity-icon.svg" alt="" />
            </div>
        </div>
        <div class="parallax-layer parallax-front">
            <div class="title">Foreground</div>
        </div>
    </div>
</div>