{#  Favicon settings are served from this template, if they exist  #}
<link rel="apple-touch-icon" sizes="180x180" href="//cdn.mopsyd.com/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="//mopsyd.com/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="//mopsyd.com/favicon-16x16.png">
<link rel="manifest" href="//cdn.mopsyd.com/site.webmanifest">
<link rel="mask-icon" href="//cdn.mopsyd.com/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="//cdn.mopsyd.com/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">