{#  Head element links and structured data are served from this template  #}
{#<link rel="author" href="{{ site.theme.link }}/humans.txt" />
<link rel="pingback" href="{{ site.pingback_url }}" />#}
{% block head_links %}
{#
Browsers will be told to prefetch DNS for remote sources,
which can significantly improve page load speed. This allows remote sources
to all load at once instead of one at a time in the browser.

All CDN content registered through Sanctity is automatically appended to this,
but you can add any other resources you use (such as CloudFlare or Cloudfront)
for caching in manually as well.

You may see some of these tags after this in your head content,
which are ones that got registered by plugins in the wp_head action.
#}
    {% include "head/addons/prefetch.twig" %}
    {% include "head/addons/preload.twig" %}
    {% if page.head.links %}
        {% for link in page.head.links %}
        {{ link }}
    {% endfor %}
    {% endif %}
{% endblock %}