{# empty Twig template #}
<meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if error and (error.type == 404 or error.type == 403 or error.type == 401) %}
{#  On errors other than a server error, 
    crawlers will be told not to index the site  #}
    {% block head_error_metadata %}
        {% include "head/addons/error-meta.twig" %}
    {% endblock %}
{% else %}
{#  Standard header meta tags to improve search engine ranking,
    depending on the configuration in settings  #}
    {% block head_extended_metadata %}
        {% include "head/addons/extended-meta.twig" %}
    {% endblock %}
    {% block head_structured_data %}
        {% include "head/addons/structured-data.twig" %}
    {% endblock %}
{% endif %}