{#  Scripts that should render in the
    document head are served from this template  #}
{#

The following script is extremely important to making your frontend work correctly.
It MUST be included on every page, and MUST precede any other script.

This is how your metadata for the frontend scripting is securely passed to the frontend,
and for that reason, this script is queued directly and does not occur in the Wordpress loop,
so there is zero chance of it being accidentally dequeued by a rogue plugin.

If you override this template, you MUST include the following script tag exactly as is,
and not alter it to go through the loop, or your theme will break.

#}
{#<script id="sanctity-page-data">window.sanctity_page_data = JSON.parse('{{ null|page_data(true) }}')</script>#}
{#
Google Tag Manager configuration. The below line can be safely removed if you don't use it.
#}
<!-- Google Tag Manager -->
<script>(function(w, d, s, l, i){w[l] = w[l] || []; w[l].push({'gtm.start':new Date().getTime(), event: 'gtm.js'}); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer'?'&l=' + l:''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-N7FRHT6');</script>
{% if page.head.scripts %}
    {% for script in page.head.scripts %}
        {{ script }}
    {% endfor %}
{% endif %}