{# Stylesheets that should serve from the document head are included from this template #}
{% if page.head.styles %}
    {% for style in page.head.styles %}
        {{ style }}
    {% endfor %}
{% endif %}