/*
    ------------------------------------------
    # Branding Style Elements                #
    ------------------------------------------
*/

// Used to insure that the branding header element does not display enormous.
.branding-header
{
    .branding-identity
    {
        height: 4rem;
        
        a
        {
            display: block;
            height: inherit;
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        
        .branding-logo
        {
            width: auto;
            height: 3.56rem;
            
            img
            {
                width: auto;
                height: inherit;
            }
        }

        .branding-title,
        .branding-tagline
        {
            
        }

        .branding-tagline
        {
            
        }
    }
    
    
    .branding-nav
    {
        
    }
    
    .branding-affiliates
    {
        
    }
    
    .branding-ui
    {
        padding-right: 0 !important;
    }
    
    .branding-social
    {
        
    }
}

.branding-footer
{
    .branding-identity
    {
        .branding-logo
        {
            
        }

        .branding-title
        {

        }

        .branding-tagline
        {

        }
    }
    
    .branding-nav
    {
        
    }
    
    .branding-affiliates
    {
        
    }
    
    .branding-ui
    {
        
    }
    
    .branding-social
    {
        
    }
}

.branding-sidebar
{
    .branding-identity
    {
        .branding-logo
        {
            height: auto;
            width: auto;
            max-height: 4rem;
        }

        .branding-title
        {

        }

        .branding-tagline
        {

        }
    }
    
    .branding-nav
    {
        
    }
    
    .branding-affiliates
    {
        
    }
    
    .branding-ui
    {
        
    }
    
    .branding-social
    {
        
    }
}

.branding-body
{
    .branding-identity
    {
        .branding-logo
        {
            height: auto;
            width: auto;
            max-height: 4rem;
        }

        .branding-title
        {

        }

        .branding-tagline
        {

        }
    }
    
    .branding-nav
    {
        
    }
    
    .branding-affiliates
    {
        
    }
    
    .branding-ui
    {
        
    }
    
    .branding-social
    {
        
    }
}

.branding-content
{
    .branding-identity
    {
        .branding-logo
        {
            height: auto;
            width: auto;
            max-height: 4rem;
        }

        .branding-title
        {

        }

        .branding-tagline
        {

        }
    }
    
    .branding-nav
    {
        
    }
    
    .branding-affiliates
    {
        
    }
    
    .branding-ui
    {
        
    }
    
    .branding-social
    {
        
    }
}