/*
    ------------------------------------------
    # Opinion Removal Filters                #
    # The following remove unwarranted       #
    # opinion about display applied by       #
    # various dependencies. This is in most  #
    # cases done in a way that it can be     #
    # optionally reimplemented without much  #
    # pain if desired, in all cases where    #
    # it is possible to do so.               #
    ------------------------------------------
*/

// Kills the auto-shadow effect on Material Design navbars and buttons.
// If shadows are desired, they can be applied to a wrapper element around either of these,
// using the standard shadow css selector classes to re-add them.
.navbar {
    box-shadow: none;
}
.btn {
    box-shadow: none;
}

// Removes the auto white text and padding that makes the dropdown
// invisible and messes up nav menu layouts
// because Material Design applies the opinion that buttons elements
// are always going to use their styling and padding no matter what.
.btn.dropdown-toggle.dropdown-toggle-split
{
    color: inherit !important;
    padding-right: 0;
    background: none;
}

/*
    ------------------------------------------
    # Structural Support                     #
    # The following provide structural       #
    # page support for flexibly enabling     #
    # functionality without interfering with #
    # end user expected operation, or        #
    # limiting additional functionality      #
    # applied by extension.                  #
    ------------------------------------------
*/

// Used to provide a non-colliding fixed background element
// that can contain background images, parallax content,
// or video dynamically without the need to affix it directly
// to the body. This element can be populated with any rich media
// you want to display in the background, as well as ui elements
// that do not render, and do not collide with the rest of the page
// content.

.background
{
    .background-viewport-wrapper,
    .background-viewport-fixed,
    .background-viewport-absolute,
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: -10000;
        overflow: hidden;
    }

    .background-viewport-absolute
    {
        position: absolute;
    }
}

// Banner images are full-width, so they need to be
// auto-sized horizontally instead of vertically
// They should also be able to have content placed
// over them without issue.
.banner
{
    .banner-container
    {
        position: absolute;
        left: 0;
        top: 0;
    }
    .banner-image,
    .banner-container
    {
        width: 100% !important;
        height: auto !important;
    }
}

