/*
    Fix for the wp-admin bar screwing up sticky headers.
*/
@media (max-width: 782px)
{
    body.admin-bar #primary-header.sticky-top
    {
        top: 46px;
    }
}

@media (min-width: 783px)
{
    body.admin-bar #primary-header.sticky-top
    {
        top: 32px;
    }
}

/*
    Wordpress can't decide if they want the admin bar to be sticky or not.
    It has completely non-standard breakpoints and about zero consistent
    behavior from one screen size to another.
    
    This makes it pretty much impossible to handle this particular case and
    still keep the navbar sticky without it floating in the middle of the page
    when you scroll down, or implementing javascript to fix it manually, which
    is probably the route we're going to have to go here for this particular case.
*/
@media (max-width: 600px)
{
    body.admin-bar #primary-header.sticky-top
    {
        position: relative;
        top: 0;
    }
}