{#  Footer element stylesheet links are served from this template #}
{% block footer_links %}
    {% if page.footer.links %}
        {% for link in page.footer.links %}
        {{ link }}
    {% endfor %}
    {% endif %}
{% endblock %}