{#  Scripts that should render in the
    document footer are served from this template  #}
{% if page.footer.scripts %}
    {% for script in page.footer.scripts %}
        {{ script }}
    {% endfor %}
{% endif %}