{# Stylesheets that should serve from the document footer are included from this template #}
{% if page.footer.styles %}
    {% for style in page.footer.styles %}
        {{ style }}
    {% endfor %}
{% endif %}