{# Page Banner Component
    
    This component provides a banner image across the top
    of the page before the body content. The background may be
    managed normally through the customizer, and the theme also
    provides additional settings for customizing the content of it.
    
#}
{% block page_background %}
    {% if branding.enable_background %}
        {#<div id="{{ page.type }}-background" class="jumbotron m-0 p-0 h-100 fixed-top sticky-top" data-context="{{ page.type }}-background-wrapper">
            <div class="row h-100 w-100 m-0 p-0">
                <div id="{{ page.type }}-background-image" class="col-12 h-100 w-100 m-0 p-0" data-context="{{ page.type }}-background">
                    <img src="{{ branding.background }}" class="cover" alt="background image" data-context="{{ page.type }}-background-image">
                </div>
            </div>
        </div>#}
    {% endif %}
{% endblock %}