{# Page Banner Component
    
    This template provides a banner image across the top
    of the component that calls it.
    
#}
<div class="jumbotron banner {{ type }}-banner-wrapper m-0 p-0" data-context="{{ type }}-banner-wrapper" data-component="{{ type }}-banner" data-component-type="banner">
    <div class="row">
    {% block banner_image %}
        <div class="col-12 banner-image-container" data-context="{{ type }}-banner">
            <img src="{{ image.full.src }}" class="banner-image {{ type }}-banner-image" alt="{{ image.name }}" data-context="{{ type }}-banner-image">
        </div>
    {% endblock %}
    {% block banner_text %}{% endblock %}{# placeholder for overrides #}
</div>
</div>