<div id="header-branding" class="row order-1 branding-identity" data-context="site-identity" data-component="primary-branding" data-component-type="branding">
        {% if branding.enable_header_logo %}
    <a class="navbar-brand mr-0 d-flex flex-row align-items-start" href="{{site.url}}" rel="home">
        <span class="d-flex pr-2 pt-1 align-self-baseline branding-logo">
            <img src="{{ branding.logo.medium.src }}" class="d-block img-fluid" alt="{{branding.title}} - {{branding.tagline}}"  />
        </span>
    </a>
        {% endif %}
        {% if branding.enable_header_title or branding.enable_header_tagline %}
        <div class="pr-2 d-none d-sm-flex">
            <h1 id="site-identity" class="hdr-logo d-block navbar-brand style-color color-title">
                <a class="navbar-brand mr-0 d-flex flex-column align-items-start" href="{{site.url}}" rel="home">
                {% if branding.enable_header_title %}<span class="site-identity-title d-block border border-top-0 border-right-0 border-left-0 branding-title">{{branding.title}}</span>{% endif %}{% if branding.enable_header_tagline %}<sub class="d-block pt-2 branding-tagline">{{branding.tagline}}</sub>{% endif %}
                </a>
            </h1>
        </div>
        {% endif %}
</div>