{#{% if header_ui_icons %}#}
{#    <div class="d-flex justify-content-end">#}
<div class="container-fluid p-0 m-0">
    {% if (debug) %}
        <div class="d-inline-block mr-1" data-component="page-debugger-toggle" data-component-type="debug-button">
            <button class="navbar-toggler d-flex justify-content-end float-right" type="button" data-toggle="collapse" data-target="#frontend-debugger-panel" title="Toggle debugger"><i class="fa fa-bug"></i></button>
        </div>
    {% endif %}
    <div class="d-inline-block" data-component="primary-searchbar" data-component-type="searchbar">
        {% include "components/ui-searchbar.twig" %}
    </div>
    <div class="d-inline-block" data-component="primary-menu-toggle" data-component-type="menu-button">
        <button class="navbar-toggler d-flex d-lg-none justify-content-end float-right" type="button" data-toggle="collapse" data-target="#header-primary-navigation">&#9776;</button>
    </div>
</div>
{#{% endif %}#}