{% block page_background %}
    <div id="static-background-wrapper" class="container-fluid" data-component="parallax-wrapper" data-component-type="parallax">
        {% if parallax %}
            {% for parallax_id, details in parallax.content %}
                <div id="parrallax_id" class="row parallax-wrapper" data-context="parallax-slide">
                    <p>Parallax stuff goes here.</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}