<div id="header-search-field-wrapper" class="nav-link p-0">
    <div class="container-fluid p-0 m-0">
        <div class="p-0 m-0 d-inline-block">
            <button class="navbar-toggler d-inline" type="button" data-toggle="collapse" data-target="#primary-search-field-toggle"><i class="fas fa-search"></i></button>
            <fieldset class="navbar-form button-group nav-link p-0 m-0 d-inline">
                <form id="header-inline-search-form" name="header-inline-search-form" role="{{ search.role }}" accept-charset="UTF-8" action="{{ search.action }}" method="{{ search.method }}">
                    <label class="sr-only" for="header-search-field">Search this site</label>
                    <div class="input-group add-on m-0 p-0">
                        <div class="collapse" id="primary-search-field-toggle">
                            <div class="d-flex flex-row">
                                <input type="{{ search["input-type"] }}" name="{{ search["input-name"] }}" class="form-control p-1 m-0 d-inline" id="header-search-field" placeholder="Search" data-component="search-form-{{ search["input-name"] }}" data-component-type="search-form">
                                <div class="input-group-append my-0">
                                    <button class="btn btn-primary d-inline nav-link p-1 px-2 my-0 mr-1" type="submit" value="{{ search["submit-value"] }}"><i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>
                                <div class="card d-none" data-component="search-typeahead" data-component-type="typeahead">
                                    <ul class="typeahead-list list-unstyled list-group"></ul>
                                </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>