{# This is the error page layout #}
{% block content %}
<main class="content-wrapper container-fluid d-flex align-items-center align-self-center" data-context="error-container" data-component="error-{{ error.style["error-code"] }}" data-component-type="error">
        <div class="row align-items-center justify-content-center">
            {% block error %}
            <div class="col col-12 col-lg-2 ">
                <div class="container">
                    <div class="row">
                        <h1 class="{{ layout.style["error-code"] }} style-color color-title" data-context="error-code">{% block error_code %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-7">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="{{ layout.style["error-heading"] }} style-color color-title" data-context="error-title">{% block error_heading %}{% endblock %}</h2>
                        </div>
                        <div class="col-12">
                            <h2 class="{{ layout.style["error-message"] }} style-color color-title" data-context="error-message">{% block error_body %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
</main>
{% endblock %}