{# Debugger Branding Module
    
    Shows information about the current theme branding data applied.
    
#}
{% block debug_branding_module %}
    <div id="debug-{{ module }}-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.branding }}</pre>
            </div>
        </div>
    </div>
{% endblock %}