{# Debugger Integration Module
    
    Shows information about the current integration settings data applied.
    
#}
{% block debug_integration_module %}
    <div id="debug-integration-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.integration }}</pre>
            </div>
        </div>
    </div>
{% endblock %}