{# Debugger Layout Module
    
    Shows information about the currently applied layout data.
    
#}
{% block debug_layout_module %}
    <div id="debug-layout-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.layout }}</pre>
            </div>
        </div>
    </div>
{% endblock %}