{# Debugger Page Module
    
    Shows information about the current page request.
    
#}
{% block debug_page_module %}
    <div id="debug-page-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.page }}</pre>
            </div>
        </div>
    </div>
{% endblock %}