{# Debugger Scripts Module
    
    Shows information about the current scripts queued for the page.
    
#}
{% block debug_scripts_module %}
    <div id="debug-scripts-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.scripts }}</pre>
            </div>
        </div>
    </div>
{% endblock %}