{# Debugger Settings Module
    
    Shows information about the current theme settings data applied.
    
#}
{% block debug_settings_module %}
    <div id="debug-settings-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.settings }}</pre>
            </div>
        </div>
    </div>
{% endblock %}