{# Debugger Stylesheets Module
    
    Shows information about the current stylesheets queued for the page.
    
#}
{% block debug_stylesheet_module %}
    <div id="debug-stylesheets-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.stylesheets }}</pre>
            </div>
        </div>
    </div>
{% endblock %}