{# Debugger Style Module
    
    Shows information about the currently applied style data.
    
#}
{% block debug_style_module %}
    <div id="debug-style-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.style }}</pre>
            </div>
        </div>
    </div>
{% endblock %}