{# Debugger Theme Module
    
    Shows information about the current theme version and specs.
    
#}
{% block debug_theme_module %}
    <div id="debug-theme-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.theme }}</pre>
            </div>
        </div>
    </div>
{% endblock %}