{# Debugger User Module
    
    Shows information about the current user.
    
#}
{% block debug_user_module %}
    <div id="debug-user-vars" class="collapse row">
        <div class="col-12 card p-0">
            {% include "components/debugger/structure/module-header.twig" %}
            <div class="card-body">
                <pre>{{ debug.user }}</pre>
            </div>
        </div>
    </div>
{% endblock %}