{% block theme_settings %}
    <div id="sanctity-settings-panel" class="container-fluid pt-4" data-component="admin-panel" data-component-type="admin-panel">
        <div id="dashboard-heading" class="row">
            {% block theme_settings_header %}
                {% include "sanctity/settings/header.twig" %}
            {% endblock %}
        </div>
        <div id="dashboard-body" class="row">
            {% block theme_settings_body %}
                {% include "sanctity/settings/body.twig" %}
            {% endblock %}
        </div>
    </div>
{% endblock %}