
body, p, sub, sup, pre, h1, h2, h3, h4, h5, h6, span, i, em, strong, ul, li, ol,
dd, dt, div, nav, abbr, bdi, bdo, cite, code, data, dfn, kbd, mark, q, rb, rt, rtc,
ruby, s, samp, small, time, tt, u, var, wbr, noscript, del, ins, figcaption, figure,
table, thead, tbody, tfoot, th, tr, td, caption, col, colgroup, colgroup, hr, br, form,
fieldset, datalist, label, legend, meter, optgroup, option, output, progress, select,
textarea, input, button, details, dialog, menu, menuitem, summary, address, article,
aside, blockquote, section, hgroup, main, header, footer,
{
    &.style-color
    {
        @if variable-exists(color-primary)
        {
            &.color-primary
            {
                color: $color-primary !important;
            }
        }

        @if variable-exists(color-secondary)
        {
            &.color-secondary
            {
                color: $color-secondary !important;
            }
        }

        @if variable-exists(color-tertiary)
        {
            &.color-tertiary
            {
                color: $color-tertiary !important;
            }
        }
    }

    &.style-background
    {
        @if variable-exists(color-primary)
        {
            &.background-primary
            {
                background-color: $color-primary !important;
            }
        }

        @if variable-exists(color-secondary)
        {
            &.background-secondary
            {
                background-color: $color-secondary !important;
            }
        }

        @if variable-exists(color-tertiary)
        {
            &.background-tertiary
            {
                background-color: $color-tertiary !important;
            }
        }
    }


    &.style-border
    {
        @if variable-exists(color-primary)
        {
            &.border-primary
            {
                border-color: $color-primary !important;
            }
        }

        @if variable-exists(color-secondary)
        {
            &.border-secondary
            {
                border-color: $color-primary !important;
            }
        }

        @if variable-exists(color-tertiary)
        {
            &.border-tertiary
            {
                border-color: $color-tertiary !important;
            }
        }
    }

    &:hover {
        &.style-hover
        {
            @if variable-exists(color-primary)
            {
                &.hover-primary
                {
                    color: $color-primary !important;
                }
            }

            @if variable-exists(color-secondary)
            {
                &.hover-secondary
                {
                    color: $color-secondary !important;
                }
            }

            @if variable-exists(color-tertiary)
            {
                &.hover-tertiary
                {
                    color: $color-tertiary !important;
                }
            }
        }
    }

    &:active
        {
        &.style-active
        {
            @if variable-exists(color-primary)
            {
                &.active-primary
                {
                    color: $color-primary !important;
                }
            }

            @if variable-exists(color-secondary)
            {
                &.active-secondary
                {
                    color: $color-secondary !important;
                }
            }

            @if variable-exists(color-tertiary)
            {
                &.active-tertiary
                {
                    color: $color-tertiary !important;
                }
            }
        }
    }

    &:focus
        {
        &.style-focus
        {
            @if variable-exists(color-primary)
            {
                &.focus-primary
                {
                    color: $color-primary !important;
                }
            }

            @if variable-exists(color-secondary)
            {
                &.focus-secondary
                {
                    color: $color-secondary !important;
                }
            }

            @if variable-exists(color-tertiary)
            {
                &.focus-tertiary
                {
                    color: $color-tertiary !important;
                }
            }
        }
    }
}

body
{
    &.style-color
    {
        @if variable-exists(color-background)
        {
            &.color-background
            {
                background-color: $color-background !important;
            }
        }
    }
}

div, main, aside, section, article, summary, details, address, fieldset, figure,
samp, code, cite, nav, span, pre
{
    &.style-color
    {
        @if variable-exists(color-background)
        {
            &.color-background
            {
                background-color: $color-background !important;
            }
        }

        @if variable-exists(color-content-background)
        {
            &.color-content-background
            {
                background-color: $color-content-background !important;
            }
        }

        @if variable-exists(color-page-body-background)
        {
            &.color-page-body-background
            {
                background-color: $color-page-body-background !important;
            }
        }

        @if variable-exists(color-sidebar-left-background)
        {
            &.color-sidebar-left-background
            {
                background-color: $color-sidebar-left-background !important;
            }
        }

        @if variable-exists(color-sidebar-right-background)
        {
            &.color-sidebar-right-background
            {
                background-color: $color-sidebar-right-background !important;
            }
        }

        @if variable-exists(color-text)
        {
            &.color-text
            {
                p, sub, sup, pre, li, ol, dd, dt, abbr, bdi, bdo, cite, mark, q,
                rb, rt, rtc, ruby, s, samp, ins, figure, figcaption, td, caption,
                col, label, menuitem, blockquote
                {
                    color: $color-text !important;
                }
            }
        }

        @if variable-exists(color-links)
        {
            &.color-links a
            {
                color: $color-links !important;
            }
        }

        @if variable-exists(color-links-hover)
        {
            &.color-links-hover a:hover
                {
                color: $color-links-hover !important;
            }
        }

        @if variable-exists(color-sidebar-left-text)
        {
            &.color-sidebar-left-text
            {
                p, sub, sup, pre, li, ol, dd, dt, abbr, bdi, bdo, cite, mark, q,
                rb, rt, rtc, ruby, s, samp, ins, figure, figcaption, td, caption,
                col, label, menuitem, blockquote
                {
                    color: $color-sidebar-left-text !important;
                }
            }
        }

        @if variable-exists(color-sidebar-left-links)
        {
            &.color-sidebar-left-links a
            {
                color: $color-sidebar-left-links !important;
            }
        }

        @if variable-exists(color-sidebar-left-links-hover)
        {
            &.color-sidebar-left-links-hover a:hover
                {
                color: $color-sidebar-left-links-hover !important;
            }
        }

        @if variable-exists(color-sidebar-right-text)
        {
            &.color-sidebar-right-text
            {
                p, sub, sup, pre, li, ol, dd, dt, abbr, bdi, bdo, cite, mark, q,
                rb, rt, rtc, ruby, s, samp, ins, figure, figcaption, td, caption,
                col, label, menuitem, blockquote
                {
                    color: $color-sidebar-right-text !important;
                }
            }
        }

        @if variable-exists(color-sidebar-right-links)
        {
            &.color-sidebar-right-links a
            {
                color: $color-sidebar-right-links !important;
            }
        }

        @if variable-exists(color-sidebar-right-links-hover)
        {
            &.color-sidebar-right-links-hover a:hover
                {
                color: $color-sidebar-right-links-hover !important;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6,
{
    &.style-color
    {
        @if variable-exists(color-title)
        {
            &.color-title
            {
                * {
                    color: $color-title !important;
                }
                color: $color-title !important;
            }
        }

        @if variable-exists(color-sidebar-left-title)
        {
            &.color-sidebar-left-title
            {
                * {
                    color: $color-sidebar-left-title !important;
                }
                color: $color-sidebar-left-title !important;
            }
        }

        @if variable-exists(color-sidebar-right-title)
        {
            &.color-sidebar-right-title
            {
                * {
                    color: $color-sidebar-right-title !important;
                }
                color: $color-sidebar-right-title !important;
            }
        }
    }
}

header, div, nav
{
    &.style-color
    {
        @if variable-exists(color-header)
        {
            &.color-header
            {
                background-color: $color-header !important;
            }
        }

        @if variable-exists(color-header-border)
        {
            &.color-header-border
            {
                border-color: $color-header-border !important;
            }
        }
    }
}

footer, div
{
    &.style-color
    {
        @if variable-exists(color-page-footer)
        {
            &.color-page-footer
            {
                background-color: $color-page-footer !important;
            }
        }

        @if variable-exists(color-site-footer)
        {
            &.color-site-footer
            {
                background-color: $color-site-footer !important;
            }
        }

        @if variable-exists(color-site-footer-title)
        {
            &.color-site-footer-title
            {
                * {
                    color: $color-site-footer-title !important;
                }
                color: $color-site-footer-title !important;
            }
        }

        @if variable-exists(color-page-footer-title)
        {
            &.color-page-footer-title
            {
                * {
                    color: $color-page-footer-title !important;
                }
                color: $color-page-footer-title !important;
            }
        }

        @if variable-exists(color-site-footer-title)
        {
            &.color-site-footer-title
            {
                * {
                    color: $color-site-footer-title !important;
                }
                color: $color-site-footer-title !important;
            }
        }

        @if variable-exists(color-page-footer-text)
        {
            &.color-page-footer-text
            {
                p, sub, sup, pre, li, ol, dd, dt, abbr, bdi, bdo, cite, mark, q,
                rb, rt, rtc, ruby, s, samp, ins, figure, figcaption, td, caption,
                col, label, menuitem, blockquote
                {
                    color: $color-page-footer-text !important;
                }
            }
        }

        @if variable-exists(color-site-footer-text)
        {
            &.color-site-footer-text
            {
                p, sub, sup, pre, li, ol, dd, dt, abbr, bdi, bdo, cite, mark, q,
                rb, rt, rtc, ruby, s, samp, ins, figure, figcaption, td, caption,
                col, label, menuitem, blockquote
                {
                    color: $color-site-footer-text !important;
                }
            }
        }

        @if variable-exists(color-page-footer-link)
        {
            &.color-page-footer-link a
            {
                color: $color-page-footer-link !important;
            }
        }

        @if variable-exists(color-site-footer-link)
        {
            &.color-site-footer-link a
            {
                color: $color-site-footer-link !important;
            }
        }

        @if variable-exists(color-page-footer-link-hover)
        {
            &.color-page-footer-link-hover a:hover
                {
                color: $color-page-footer-link-hover !important;
            }
        }

        @if variable-exists(color-site-footer-link-hover)
        {
            &.color-site-footer-link-hover a:hover
                {
                color: $color-site-footer-link-hover !important;
            }
        }

        @if variable-exists(color-page-footer-border)
        {
            &.color-page-footer-border
            {
                border-color: $color-page-footer-border !important;
            }
        }

        @if variable-exists(color-site-footer-border)
        {
            &.color-site-footer-border
            {
                border-color: $color-site-footer-border !important;
            }
        }
    }
}
