{# This is the default post layout
    
    This block is the default render for standard posts.
    
#}{% block content %}
    <div class="container-fluid">
        {% if branding.enable_banner %}
            <div class="row p-0">
                <div class="col-12 p-0">
                {% block body_banner %}{% endblock %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div id="post-body" class="col-12 style-color color-content-background p-0" data-context="post-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-12 col-lg-6 order-1 order-lg-2 pt-5 pb-5 style-color color-page-body-background">
                        <main id="post-content" class="container" data-context="post-content"  data-component="{{ page.type }}-body" data-component-type="body">
                            <div class="row">
                                {% include "header/page-body-header.twig" %}
                                <div class="col-12">
                                {% block body_content %}{% endblock %}
                            </div>
                            <div class="col-12 pb-4">
                            {% block body_comments %}{% endblock %}
                        </div>
                    </div>
                </main>
            </div>
            {% if layout.sidebars["left-sidebar"] %}
            {% block left_sidebar %}{% endblock %}
        {% endif %}
        {% if layout.sidebars["right-sidebar"] %}
        {% block right_sidebar %}{% endblock %}
    {% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}